flows_Roberts-Mac-mini-2.local.json
[{"id":"f9337f21.0eab78","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"511ba96f.a12658","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"58b64745.d5681","type":"tab","label":"Motion","disabled":false,"info":""},{"id":"bfc5fec7.b4f73","type":"tab","label":"Batteries","disabled":false,"info":""},{"id":"c1c7f362.7de41","type":"subflow","name":"Time Converter","info":"","category":"","in":[{"x":260,"y":480,"wires":[{"id":"ae545d5b.975008"}]}],"out":[{"x":540,"y":480,"wires":[{"id":"ae545d5b.975008","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":540,"y":540,"wires":[{"id":"ae545d5b.975008","port":0}]}},{"id":"252d4ef4.c14b6a","type":"hubitat config","z":"","name":"Hubitat","usetls":false,"host":"172.16.0.27","port":"80","appId":"501","nodeRedServer":"http://10.0.0.25:1880","webhookPath":"/hubitat/webhook","autoRefresh":false,"useWebsocket":false},{"id":"6bba6383.20c05c","type":"ui_group","z":"","name":"Default","tab":"7629deba.08a778","order":1,"disp":false,"width":"6","collapse":false},{"id":"f5be1ade.4321f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7629deba.08a778","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f1cd37ed.5808b","type":"ui_group","z":"","name":"Temperature","tab":"7629deba.08a778","order":2,"disp":true,"width":"6","collapse":false},{"id":"96c207ac.2237a8","type":"position-config","z":"","name":"Home","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12"},{"id":"e4e04d66.281c58","type":"ui_group","z":"","name":"Batteries","tab":"7629deba.08a778","order":3,"disp":true,"width":"6","collapse":false},{"id":"40b66d76.695704","type":"hubitat device","z":"f9337f21.0eab78","name":"Bulb 4","server":"252d4ef4.c14b6a","deviceId":"589","attribute":"switch","sendEvent":true,"x":390,"y":140,"wires":[["3b895294.40fc1e"]]},{"id":"f6feeac1.313c","type":"change","z":"f9337f21.0eab78","name":"Set Color Temp","rules":[{"t":"set","p":"arguments","pt":"msg","to":"color_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":200,"wires":[["ae47bc91.90b9e8"]]},{"id":"6254ac96.dbc23c","type":"hubitat device","z":"f9337f21.0eab78","name":"Main Floor Couch Lamp","server":"252d4ef4.c14b6a","deviceId":"537","attribute":"switch","sendEvent":true,"x":450,"y":200,"wires":[["ca3a5b6c.8bcad"]]},{"id":"ca3a5b6c.8bcad","type":"switch","z":"f9337f21.0eab78","name":"is on","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":200,"wires":[["f6feeac1.313c","b7421877.47f01"]]},{"id":"ae47bc91.90b9e8","type":"hubitat command","z":"f9337f21.0eab78","name":"Main Floor Couch Lamp","server":"252d4ef4.c14b6a","deviceId":"537","command":"setColorTemperature","commandArgs":"","x":1260,"y":200,"wires":[[]]},{"id":"16e0e495.643b53","type":"change","z":"f9337f21.0eab78","name":"Set Color Temp","rules":[{"t":"set","p":"arguments","pt":"msg","to":"color_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":260,"wires":[["ee7b994b.3d627"]]},{"id":"d643e945.03fd68","type":"hubitat device","z":"f9337f21.0eab78","name":"Main Floor Chair Lamp","server":"252d4ef4.c14b6a","deviceId":"536","attribute":"switch","sendEvent":true,"x":440,"y":260,"wires":[["6626a7d5.bd4b9"]]},{"id":"6626a7d5.bd4b9","type":"switch","z":"f9337f21.0eab78","name":"is on","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":260,"wires":[["16e0e495.643b53","b7421877.47f01"]]},{"id":"ee7b994b.3d627","type":"hubitat command","z":"f9337f21.0eab78","name":"Main Floor Chair Lamp","server":"252d4ef4.c14b6a","deviceId":"536","command":"setColorTemperature","commandArgs":"","x":1250,"y":260,"wires":[[]]},{"id":"a33161c6.8749e8","type":"change","z":"f9337f21.0eab78","name":"Set Color Temp","rules":[{"t":"set","p":"arguments","pt":"msg","to":"color_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":320,"wires":[["7b708ee2.c9e758"]]},{"id":"48fe7158.3de628","type":"hubitat device","z":"f9337f21.0eab78","name":"Kitchen Table","server":"252d4ef4.c14b6a","deviceId":"538","attribute":"switch","sendEvent":true,"x":420,"y":320,"wires":[["4e3c6812.be32d"]]},{"id":"4e3c6812.be32d","type":"switch","z":"f9337f21.0eab78","name":"is on","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":320,"wires":[["a33161c6.8749e8","b7421877.47f01"]]},{"id":"7b708ee2.c9e758","type":"hubitat command","z":"f9337f21.0eab78","name":"Kitchen Table","server":"252d4ef4.c14b6a","deviceId":"538","command":"setColorTemperature","commandArgs":"","x":1230,"y":320,"wires":[[]]},{"id":"784954e6.b11cdc","type":"change","z":"f9337f21.0eab78","name":"Set Color Temp","rules":[{"t":"set","p":"arguments","pt":"msg","to":"color_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":140,"wires":[["2ac4b003.a7d4e8"]]},{"id":"3b895294.40fc1e","type":"switch","z":"f9337f21.0eab78","name":"is on","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":140,"wires":[["784954e6.b11cdc","b7421877.47f01"]]},{"id":"2ac4b003.a7d4e8","type":"hubitat command","z":"f9337f21.0eab78","name":"Bulb 4","server":"252d4ef4.c14b6a","deviceId":"589","command":"setColorTemperature","commandArgs":"","x":1200,"y":140,"wires":[[]]},{"id":"78d27aa4.3a922c","type":"change","z":"f9337f21.0eab78","name":"","rules":[{"t":"set","p":"color_temperature","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1080,"wires":[["acfe6604.b0ebd","b0c8d31a.f0e56"]]},{"id":"e1e38786.f7807","type":"inject","z":"f9337f21.0eab78","name":"Every 15 minutes","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1020,"wires":[["7a1e014f.2d5688"]]},{"id":"e19e918a.2851d","type":"hubitat mode","z":"f9337f21.0eab78","name":"","server":"252d4ef4.c14b6a","sendEvent":true,"x":110,"y":1080,"wires":[["7a1e014f.2d5688"]]},{"id":"7a1e014f.2d5688","type":"delay","z":"f9337f21.0eab78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":1080,"wires":[["82929842.1531"]]},{"id":"aa0d64a0.a2b408","type":"comment","z":"c1c7f362.7de41","name":"Time Zone Offset","info":"","x":400,"y":360,"wires":[]},{"id":"a0e70412.49cd3","type":"comment","z":"c1c7f362.7de41","name":"ms -> s","info":"","x":370,"y":320,"wires":[]},{"id":"f207fd86.a5521","type":"comment","z":"c1c7f362.7de41","name":"seconds since midnight","info":"","x":420,"y":400,"wires":[]},{"id":"ba6ff9d9.4f1458","type":"comment","z":"c1c7f362.7de41","name":"hours since midnight","info":"","x":410,"y":440,"wires":[]},{"id":"acfe6604.b0ebd","type":"ui_chart","z":"f9337f21.0eab78","name":"","group":"6bba6383.20c05c","order":4,"width":0,"height":0,"label":"Color Temperature (K)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1500","ymax":"","removeOlder":"72","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1800,"y":1080,"wires":[[]]},{"id":"8e1ccd1c.423048","type":"hubitat device","z":"511ba96f.a12658","name":"Main floor front door - 3/27","server":"252d4ef4.c14b6a","deviceId":"523","attribute":"temperature","sendEvent":true,"x":580,"y":180,"wires":[["7b1e2cc3.e43bd4"]]},{"id":"9f4c3844.16bad","type":"hubitat device","z":"511ba96f.a12658","name":"Main floor hallway - 3/27","server":"252d4ef4.c14b6a","deviceId":"521","attribute":"temperature","sendEvent":true,"x":570,"y":240,"wires":[["7b1e2cc3.e43bd4"]]},{"id":"8e8ef821.9d309","type":"hubitat device","z":"511ba96f.a12658","name":"Main floor hallway shelf by stairs - 3/27","server":"252d4ef4.c14b6a","deviceId":"522","attribute":"temperature","sendEvent":true,"x":620,"y":300,"wires":[["7b1e2cc3.e43bd4"]]},{"id":"f31e698a.7b2ef8","type":"hubitat device","z":"511ba96f.a12658","name":"Main Floor Kitchen Island - Kitchen 3/29","server":"252d4ef4.c14b6a","deviceId":"530","attribute":"temperature","sendEvent":true,"x":620,"y":360,"wires":[["7b1e2cc3.e43bd4"]]},{"id":"72f9eb20.131fdc","type":"hubitat device","z":"511ba96f.a12658","name":"Main Floor Kitchen Island - Living Room - 3/29","server":"252d4ef4.c14b6a","deviceId":"529","attribute":"temperature","sendEvent":true,"x":640,"y":420,"wires":[["7b1e2cc3.e43bd4"]]},{"id":"2c6edddf.80305a","type":"ui_chart","z":"511ba96f.a12658","name":"","group":"f1cd37ed.5808b","order":5,"width":0,"height":0,"label":"Main Floor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":300,"wires":[[]]},{"id":"bf1bb877.671918","type":"inject","z":"511ba96f.a12658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":300,"wires":[["8e1ccd1c.423048","9f4c3844.16bad","8e8ef821.9d309","f31e698a.7b2ef8","72f9eb20.131fdc"]]},{"id":"7b1e2cc3.e43bd4","type":"change","z":"511ba96f.a12658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":300,"wires":[["2c6edddf.80305a"]]},{"id":"ad8191f8.a11098","type":"hubitat device","z":"511ba96f.a12658","name":"Basement Under Screen - 4/1","server":"252d4ef4.c14b6a","deviceId":"534","attribute":"temperature","sendEvent":true,"x":610,"y":620,"wires":[["2583432e.abcc84"]]},{"id":"1c8cf4fe.9ff3cb","type":"hubitat device","z":"511ba96f.a12658","name":"Basement Bottom of Stairs - 4/1","server":"252d4ef4.c14b6a","deviceId":"535","attribute":"temperature","sendEvent":true,"x":610,"y":680,"wires":[["2583432e.abcc84"]]},{"id":"c10bb58.4d8ecc8","type":"ui_chart","z":"511ba96f.a12658","name":"","group":"f1cd37ed.5808b","order":5,"width":0,"height":0,"label":"Basement","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":680,"wires":[[]]},{"id":"1dc9e443.2f6bcc","type":"inject","z":"511ba96f.a12658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":680,"wires":[["ad8191f8.a11098","1c8cf4fe.9ff3cb","9462833e.1d1b7"]]},{"id":"2583432e.abcc84","type":"change","z":"511ba96f.a12658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":680,"wires":[["c10bb58.4d8ecc8"]]},{"id":"b0c8d31a.f0e56","type":"link out","z":"f9337f21.0eab78","name":"color temperature","links":["ac7411a0.a83e9"],"x":1695,"y":1140,"wires":[]},{"id":"ac7411a0.a83e9","type":"link in","z":"f9337f21.0eab78","name":"","links":["b0c8d31a.f0e56","910d19f9.d725e8","de178a7c.7f5e38"],"x":155,"y":100,"wires":[["40b66d76.695704","6254ac96.dbc23c","d643e945.03fd68","48fe7158.3de628","254a074c.4530a","bbc83dbd.288978"]]},{"id":"b7421877.47f01","type":"link out","z":"f9337f21.0eab78","name":"recalculate color temperature","links":["c5d2e3b6.bd6a4"],"x":935,"y":80,"wires":[]},{"id":"c5d2e3b6.bd6a4","type":"link in","z":"f9337f21.0eab78","name":"","links":["b7421877.47f01","910d19f9.d725e8","de178a7c.7f5e38"],"x":75,"y":1180,"wires":[["8fa8cca6.3c39b8"]]},{"id":"8fa8cca6.3c39b8","type":"delay","z":"f9337f21.0eab78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":1180,"wires":[["7a1e014f.2d5688"]]},{"id":"9462833e.1d1b7","type":"hubitat device","z":"511ba96f.a12658","name":"Basement - Behind the couch - 4/10","server":"252d4ef4.c14b6a","deviceId":"621","attribute":"temperature","sendEvent":true,"x":630,"y":740,"wires":[["2583432e.abcc84"]]},{"id":"9a110e75.82802","type":"range","z":"f9337f21.0eab78","minin":"0","maxin":"100","minout":"2500","maxout":"4200","action":"clamp","round":true,"property":"payload","name":"percent to kelvin range","x":1240,"y":1080,"wires":[["78d27aa4.3a922c"]]},{"id":"17a47889.a03a2f","type":"sun-position","z":"f9337f21.0eab78","name":"","positionConfig":"96c207ac.2237a8","rules":[],"onlyOnChange":"true","topic":"","outputs":1,"start":"","startType":"none","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"end":"","endType":"none","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"x":770,"y":1100,"wires":[["f183b6f5.423ec"]]},{"id":"f183b6f5.423ec","type":"change","z":"f9337f21.0eab78","name":"Set Auto Color Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.altitudePercent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1100,"wires":[["9a110e75.82802"]]},{"id":"ae545d5b.975008","type":"change","z":"c1c7f362.7de41","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload / 1000","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload - (3600 * 6)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload % 86400","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload / 3600","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":480,"wires":[[]]},{"id":"341cca5d.7deafe","type":"hubitat device","z":"f9337f21.0eab78","name":"mZone-Main Floor","server":"252d4ef4.c14b6a","deviceId":"528","attribute":"motion","sendEvent":true,"x":150,"y":1560,"wires":[["bc068690.56656"]]},{"id":"f4196dc1.89ccd8","type":"switch","z":"f9337f21.0eab78","name":"active","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"active","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1560,"wires":[["1cd367a1.c73378"],["f5b7b7f4.c342c8"]]},{"id":"3e5c2df.f9db652","type":"change","z":"f9337f21.0eab78","name":"Turn On","rules":[{"t":"set","p":"command","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1600,"wires":[["7b90c309.66d214"]]},{"id":"2c8106bb.e0c96a","type":"change","z":"f9337f21.0eab78","name":"Turn Off","rules":[{"t":"set","p":"command","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1660,"wires":[["7b90c309.66d214"]]},{"id":"7b90c309.66d214","type":"delay","z":"f9337f21.0eab78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1655,"y":1640,"wires":[["d56df784.c15a28","6724dcf8.57f25c"]],"l":false},{"id":"8bd51c18.0a3aa","type":"switch","z":"f9337f21.0eab78","name":"is already on","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1520,"wires":[[],["d32f1d97.1bc99"]]},{"id":"1cd367a1.c73378","type":"hubitat device","z":"f9337f21.0eab78","name":"Main Floor Couch Lamp","server":"252d4ef4.c14b6a","deviceId":"537","attribute":"switch","sendEvent":false,"x":810,"y":1520,"wires":[["8bd51c18.0a3aa"]]},{"id":"5c2386b3.633c78","type":"rbe","z":"f9337f21.0eab78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.value","x":495,"y":1560,"wires":[["f4196dc1.89ccd8"]],"l":false},{"id":"bc068690.56656","type":"within-time-switch","z":"f9337f21.0eab78","name":"(at night)","positionConfig":"96c207ac.2237a8","startTime":"sunsetStart","startTimeType":"pdsTime","startOffset":"-60","startOffsetType":"num","startOffsetMultiplier":60000,"endTime":"sunriseEnd","endTimeType":"pdsTime","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","x":320,"y":1560,"wires":[["5c2386b3.633c78"],[]]},{"id":"d32f1d97.1bc99","type":"change","z":"f9337f21.0eab78","name":"","rules":[{"t":"set","p":"main_lights_auto_off","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1520,"wires":[["3e5c2df.f9db652"]]},{"id":"f5b7b7f4.c342c8","type":"switch","z":"f9337f21.0eab78","name":"was turned on by motion","property":"main_lights_auto_off","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1600,"wires":[["2c8106bb.e0c96a","f8f5da1.fc20a28"],[]]},{"id":"f8f5da1.fc20a28","type":"change","z":"f9337f21.0eab78","name":"","rules":[{"t":"set","p":"main_lights_auto_off","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1580,"wires":[[]]},{"id":"d56df784.c15a28","type":"hubitat command","z":"f9337f21.0eab78","name":"Main Floor Couch Lamp","server":"252d4ef4.c14b6a","deviceId":"537","command":"","commandArgs":"","x":1870,"y":1600,"wires":[[]]},{"id":"6724dcf8.57f25c","type":"hubitat command","z":"f9337f21.0eab78","name":"Main Floor Chair Lamp","server":"252d4ef4.c14b6a","deviceId":"536","command":"","commandArgs":"","x":1860,"y":1660,"wires":[[]]},{"id":"acdcd47d.50ebe","type":"time-inject","z":"f9337f21.0eab78","name":"","nameInt":"timestamp","positionConfig":"96c207ac.2237a8","payload":"","payloadType":"date","payloadTimeFormat":0,"payloadOffset":0,"payloadOffsetType":"none","payloadOffsetMultiplier":60000,"topic":"","injectTypeSelect":"none","intervalCount":1,"intervalCountType":"num","intervalCountMultiplier":60000,"time":"20:30","timeType":"entered","offset":0,"offsetType":"none","offsetMultiplier":60000,"timeEnd":"","timeEndType":"entered","timeEndOffset":0,"timeEndOffsetType":"none","timeEndOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeMonths":"*","timedatestart":"","timedateend":"","property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltDays":"*","timeAltOnlyOddDays":false,"timeAltOnlyEvenDays":false,"timeAltMonths":"*","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":false,"onceDelay":0.1,"addPayload1":"","addPayload1Type":"none","addPayload1Value":"","addPayload1ValueType":"date","addPayload1Format":"0","addPayload1Offset":0,"addPayload1OffsetType":"none","addPayload1OffsetMultiplier":60000,"addPayload1Next":true,"addPayload1Days":"*","addPayload2":"","addPayload2Type":"none","addPayload2Value":"","addPayload2ValueType":"date","addPayload2Format":"0","addPayload2Offset":0,"addPayload2OffsetType":"none","addPayload2OffsetMultiplier":60000,"addPayload2Next":true,"addPayload2Days":"*","addPayload3":"","addPayload3Type":"none","addPayload3Value":"","addPayload3ValueType":"date","addPayload3Format":"0","addPayload3Offset":0,"addPayload3OffsetType":"none","addPayload3OffsetMultiplier":60000,"addPayload3Next":true,"addPayload3Days":"*","recalcTime":2,"x":160,"y":1800,"wires":[["32fa6bf1.ab3b1c","d863243e.cbb688"]]},{"id":"6c06e8fb.71416","type":"hubitat device","z":"f9337f21.0eab78","name":"mZone-Main Floor","server":"252d4ef4.c14b6a","deviceId":"528","attribute":"motion","sendEvent":false,"x":610,"y":1800,"wires":[["c1ddc556.635c78"]]},{"id":"c1ddc556.635c78","type":"switch","z":"f9337f21.0eab78","name":"Inactive","property":"payload.value","propertyType":"msg","rules":[{"t":"neq","v":"active","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":1800,"wires":[["b56c9c93.da1378"],["769489af.fba268"]]},{"id":"b6d68017.7f0ed","type":"hubitat command","z":"f9337f21.0eab78","name":"Main Floor Couch Lamp","server":"252d4ef4.c14b6a","deviceId":"537","command":"","commandArgs":"","x":1290,"y":1800,"wires":[[]]},{"id":"f7385003.dbc5c8","type":"hubitat command","z":"f9337f21.0eab78","name":"Main Floor Chair Lamp","server":"252d4ef4.c14b6a","deviceId":"536","command":"","commandArgs":"","x":1280,"y":1840,"wires":[[]]},{"id":"b56c9c93.da1378","type":"change","z":"f9337f21.0eab78","name":"Turn Off","rules":[{"t":"set","p":"command","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1800,"wires":[["98b41af4.02371"]]},{"id":"98b41af4.02371","type":"delay","z":"f9337f21.0eab78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1095,"y":1800,"wires":[["b6d68017.7f0ed","f7385003.dbc5c8","47837942.bd2d4"]],"l":false},{"id":"769489af.fba268","type":"within-time-switch","z":"f9337f21.0eab78","name":"","positionConfig":"96c207ac.2237a8","startTime":"trigger_time","startTimeType":"msg","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"sunrise","endTimeType":"pdsTime","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","x":610,"y":1940,"wires":[["8366a27b.f4e078"],["9bd699af.5487c8"]]},{"id":"9bd699af.5487c8","type":"change","z":"f9337f21.0eab78","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1980,"wires":[["8366a27b.f4e078"]]},{"id":"ad2fb271.4b6f9","type":"debug","z":"f9337f21.0eab78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":1940,"wires":[]},{"id":"47837942.bd2d4","type":"debug","z":"f9337f21.0eab78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":1760,"wires":[]},{"id":"32fa6bf1.ab3b1c","type":"change","z":"f9337f21.0eab78","name":"","rules":[{"t":"set","p":"trigger_time","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1800,"wires":[["6c06e8fb.71416"]]},{"id":"8366a27b.f4e078","type":"delay","z":"f9337f21.0eab78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":1940,"wires":[["ad2fb271.4b6f9","6c06e8fb.71416"]]},{"id":"d863243e.cbb688","type":"debug","z":"f9337f21.0eab78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":1880,"wires":[]},{"id":"db501bf4.cbb22","type":"hubitat device","z":"58b64745.d5681","name":"Basement - Behind the couch - 4/10","server":"252d4ef4.c14b6a","deviceId":"621","attribute":"motion","sendEvent":true,"x":510,"y":240,"wires":[["2e26269c.c0af42"]]},{"id":"7e1f915f.63a1e8","type":"hubitat device","z":"58b64745.d5681","name":"Basement Bottom of Stairs - 4/1","server":"252d4ef4.c14b6a","deviceId":"535","attribute":"motion","sendEvent":true,"x":490,"y":300,"wires":[["2e26269c.c0af42"]]},{"id":"faf6ad5a.34d9a8","type":"hubitat device","z":"58b64745.d5681","name":"Basement Under Screen - 4/1","server":"252d4ef4.c14b6a","deviceId":"534","attribute":"motion","sendEvent":true,"x":490,"y":360,"wires":[["2e26269c.c0af42"]]},{"id":"39217d0e.31f8fa","type":"change","z":"58b64745.d5681","name":"","rules":[{"t":"set","p":"last_motion.basement","pt":"global","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":340,"wires":[[]]},{"id":"e5967a43.bf4728","type":"hubitat device","z":"58b64745.d5681","name":"Main floor front door - 3/27","server":"252d4ef4.c14b6a","deviceId":"523","attribute":"motion","sendEvent":true,"x":500,"y":540,"wires":[["5632ee85.bf69"]]},{"id":"6529c919.7b8d08","type":"hubitat device","z":"58b64745.d5681","name":"Main floor hallway - 3/27","server":"252d4ef4.c14b6a","deviceId":"521","attribute":"motion","sendEvent":true,"x":490,"y":600,"wires":[["5632ee85.bf69"]]},{"id":"a09e1c18.134418","type":"hubitat device","z":"58b64745.d5681","name":"Main floor hallway shelf by stairs - 3/27","server":"252d4ef4.c14b6a","deviceId":"522","attribute":"motion","sendEvent":true,"x":540,"y":660,"wires":[["5632ee85.bf69"]]},{"id":"b20c88b2.15a6f","type":"change","z":"58b64745.d5681","name":"","rules":[{"t":"set","p":"last_motion.main_floor","pt":"global","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":660,"wires":[[]]},{"id":"65fdba64.4f912c","type":"hubitat device","z":"58b64745.d5681","name":"Main Floor Kitchen Island - Kitchen 3/29","server":"252d4ef4.c14b6a","deviceId":"530","attribute":"motion","sendEvent":true,"x":540,"y":720,"wires":[["5632ee85.bf69"]]},{"id":"a7c052.9af66fb","type":"hubitat device","z":"58b64745.d5681","name":"Main Floor Kitchen Island - Living Room - 3/29","server":"252d4ef4.c14b6a","deviceId":"529","attribute":"motion","sendEvent":true,"x":560,"y":780,"wires":[["5632ee85.bf69"]]},{"id":"2e26269c.c0af42","type":"switch","z":"58b64745.d5681","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"active","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":340,"wires":[["39217d0e.31f8fa"],[]]},{"id":"5632ee85.bf69","type":"switch","z":"58b64745.d5681","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"active","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":660,"wires":[["b20c88b2.15a6f"]]},{"id":"21d9691b.c7ff56","type":"hubitat device","z":"58b64745.d5681","name":"Basement - Behind the couch - 4/11 (robs desk)","server":"252d4ef4.c14b6a","deviceId":"622","attribute":"motion","sendEvent":true,"x":540,"y":420,"wires":[["2e26269c.c0af42"]]},{"id":"5674c8f2.6e83f8","type":"hubitat command","z":"f9337f21.0eab78","name":"Back Porch","server":"252d4ef4.c14b6a","deviceId":"161","command":"","commandArgs":"","x":770,"y":2300,"wires":[[]]},{"id":"ed300788.d50c48","type":"hubitat command","z":"f9337f21.0eab78","name":"Front Porch","server":"252d4ef4.c14b6a","deviceId":"193","command":"","commandArgs":"","x":770,"y":2340,"wires":[[]]},{"id":"b8dd13b1.797cb","type":"change","z":"f9337f21.0eab78","name":"Turn Off","rules":[{"t":"set","p":"command","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":2340,"wires":[["5674c8f2.6e83f8","ed300788.d50c48"]]},{"id":"5c9841f.19b74c","type":"change","z":"f9337f21.0eab78","name":"Turn On","rules":[{"t":"set","p":"command","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":2300,"wires":[["5674c8f2.6e83f8","ed300788.d50c48"]]},{"id":"1fbcdc78.00e81c","type":"comment","z":"f9337f21.0eab78","name":"Porch lights","info":"","x":150,"y":2120,"wires":[]},{"id":"dbf1d53a.74e1a","type":"hubitat event","z":"bfc5fec7.b4f73","name":"","server":"252d4ef4.c14b6a","x":230,"y":400,"wires":[["9a65a55.84bf0d8","90be1ca4.d8ced"]]},{"id":"90be1ca4.d8ced","type":"debug","z":"bfc5fec7.b4f73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":360,"wires":[]},{"id":"9a65a55.84bf0d8","type":"switch","z":"bfc5fec7.b4f73","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"battery","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":460,"wires":[["90be1ca4.d8ced","a286e85e.95f9f8"]]},{"id":"9da61bd6.f74c6","type":"ui_chart","z":"bfc5fec7.b4f73","name":"","group":"e4e04d66.281c58","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1050,"y":480,"wires":[[]]},{"id":"a286e85e.95f9f8","type":"change","z":"bfc5fec7.b4f73","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.displayName","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":480,"wires":[["b5c156c3.b212c8"]]},{"id":"bae78676.589b48","type":"time-inject","z":"f9337f21.0eab78","name":"","nameInt":"timestamp","positionConfig":"96c207ac.2237a8","payload":"","payloadType":"date","payloadTimeFormat":0,"payloadOffset":0,"payloadOffsetType":"none","payloadOffsetMultiplier":60000,"topic":"","injectTypeSelect":"none","intervalCount":1,"intervalCountType":"num","intervalCountMultiplier":60000,"time":"sunset","timeType":"pdsTime","offset":0,"offsetType":"none","offsetMultiplier":60000,"timeEnd":"","timeEndType":"entered","timeEndOffset":0,"timeEndOffsetType":"none","timeEndOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeMonths":"*","timedatestart":"","timedateend":"","property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltDays":"*","timeAltOnlyOddDays":false,"timeAltOnlyEvenDays":false,"timeAltMonths":"*","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":false,"onceDelay":0.1,"addPayload1":"","addPayload1Type":"none","addPayload1Value":"","addPayload1ValueType":"date","addPayload1Format":"0","addPayload1Offset":0,"addPayload1OffsetType":"none","addPayload1OffsetMultiplier":60000,"addPayload1Next":true,"addPayload1Days":"*","addPayload2":"","addPayload2Type":"none","addPayload2Value":"","addPayload2ValueType":"date","addPayload2Format":"0","addPayload2Offset":0,"addPayload2OffsetType":"none","addPayload2OffsetMultiplier":60000,"addPayload2Next":true,"addPayload2Days":"*","addPayload3":"","addPayload3Type":"none","addPayload3Value":"","addPayload3ValueType":"date","addPayload3Format":"0","addPayload3Offset":0,"addPayload3OffsetType":"none","addPayload3OffsetMultiplier":60000,"addPayload3Next":true,"addPayload3Days":"*","recalcTime":2,"x":200,"y":2260,"wires":[["5c9841f.19b74c"]]},{"id":"c7575bce.9dbbb8","type":"time-inject","z":"f9337f21.0eab78","name":"","nameInt":"timestamp","positionConfig":"96c207ac.2237a8","payload":"","payloadType":"date","payloadTimeFormat":0,"payloadOffset":0,"payloadOffsetType":"none","payloadOffsetMultiplier":60000,"topic":"","injectTypeSelect":"none","intervalCount":1,"intervalCountType":"num","intervalCountMultiplier":60000,"time":"sunrise","timeType":"pdsTime","offset":0,"offsetType":"none","offsetMultiplier":60000,"timeEnd":"","timeEndType":"entered","timeEndOffset":0,"timeEndOffsetType":"none","timeEndOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeMonths":"*","timedatestart":"","timedateend":"","property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltDays":"*","timeAltOnlyOddDays":false,"timeAltOnlyEvenDays":false,"timeAltMonths":"*","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":false,"onceDelay":0.1,"addPayload1":"","addPayload1Type":"none","addPayload1Value":"","addPayload1ValueType":"date","addPayload1Format":"0","addPayload1Offset":0,"addPayload1OffsetType":"none","addPayload1OffsetMultiplier":60000,"addPayload1Next":true,"addPayload1Days":"*","addPayload2":"","addPayload2Type":"none","addPayload2Value":"","addPayload2ValueType":"date","addPayload2Format":"0","addPayload2Offset":0,"addPayload2OffsetType":"none","addPayload2OffsetMultiplier":60000,"addPayload2Next":true,"addPayload2Days":"*","addPayload3":"","addPayload3Type":"none","addPayload3Value":"","addPayload3ValueType":"date","addPayload3Format":"0","addPayload3Offset":0,"addPayload3OffsetType":"none","addPayload3OffsetMultiplier":60000,"addPayload3Next":true,"addPayload3Days":"*","recalcTime":2,"x":200,"y":2380,"wires":[["b8dd13b1.797cb"]]},{"id":"30aade80.91cb42","type":"within-time-switch","z":"f9337f21.0eab78","name":"","positionConfig":"96c207ac.2237a8","startTime":"sunset","startTimeType":"pdsTime","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"sunrise","endTimeType":"pdsTime","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","x":200,"y":2320,"wires":[["5c9841f.19b74c"],["b8dd13b1.797cb"]]},{"id":"76fddf4.66e0da","type":"inject","z":"f9337f21.0eab78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2180,"wires":[["30aade80.91cb42"]]},{"id":"b5c156c3.b212c8","type":"delay","z":"bfc5fec7.b4f73","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":480,"wires":[["9da61bd6.f74c6"]]},{"id":"68624bee.51371c","type":"hubitat device","z":"f9337f21.0eab78","name":"Symfonisk","server":"252d4ef4.c14b6a","deviceId":"717","attribute":"","sendEvent":true,"x":130,"y":1320,"wires":[["387366e9.544702"]]},{"id":"e7f26b8c.a46ec8","type":"change","z":"f9337f21.0eab78","name":"Set Color Temp","rules":[{"t":"set","p":"arguments","pt":"msg","to":"color_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":380,"wires":[["c945df01.dcad68"]]},{"id":"254a074c.4530a","type":"hubitat device","z":"f9337f21.0eab78","name":"Main Floor Back Hallway","server":"252d4ef4.c14b6a","deviceId":"784","attribute":"switch","sendEvent":true,"x":450,"y":380,"wires":[["8c065791.2df06"]]},{"id":"8c065791.2df06","type":"switch","z":"f9337f21.0eab78","name":"is on","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":380,"wires":[["e7f26b8c.a46ec8","b7421877.47f01"]]},{"id":"c945df01.dcad68","type":"hubitat command","z":"f9337f21.0eab78","name":"Main Floor Back Hallway","server":"252d4ef4.c14b6a","deviceId":"784","command":"setColorTemperature","commandArgs":"","x":1260,"y":380,"wires":[[]]},{"id":"43a2f1a.eac269","type":"change","z":"f9337f21.0eab78","name":"Set Color Temp","rules":[{"t":"set","p":"arguments","pt":"msg","to":"color_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":440,"wires":[["cbb9409c.d982"]]},{"id":"bbc83dbd.288978","type":"hubitat device","z":"f9337f21.0eab78","name":"Main Floor Top of Basement Stairs","server":"252d4ef4.c14b6a","deviceId":"785","attribute":"switch","sendEvent":true,"x":480,"y":440,"wires":[["a4a5783f.ac2b9"]]},{"id":"a4a5783f.ac2b9","type":"switch","z":"f9337f21.0eab78","name":"is on","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":440,"wires":[["43a2f1a.eac269","b7421877.47f01"]]},{"id":"cbb9409c.d982","type":"hubitat command","z":"f9337f21.0eab78","name":"Main Floor Top of Basement Stairs","server":"252d4ef4.c14b6a","deviceId":"785","command":"setColorTemperature","commandArgs":"","x":1290,"y":440,"wires":[[]]},{"id":"82929842.1531","type":"switch","z":"f9337f21.0eab78","name":"","property":"manual_ct.enabled","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":1080,"wires":[["d992f052.6d2dd8"],["17a47889.a03a2f"]]},{"id":"387366e9.544702","type":"switch","z":"f9337f21.0eab78","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"switch","vt":"str"},{"t":"eq","v":"doubleTapped","vt":"str"},{"t":"eq","v":"level","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":1320,"wires":[["fe66480f.b6b77"],["2e553ae3.e93906"],["274f0993.6a437e"]]},{"id":"fe66480f.b6b77","type":"change","z":"f9337f21.0eab78","name":"Enable Manual CT","rules":[{"t":"set","p":"manual_ct.enabled","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1280,"wires":[["24b1694e.8d6176"]]},{"id":"2e553ae3.e93906","type":"change","z":"f9337f21.0eab78","name":"Disable Manual CT","rules":[{"t":"set","p":"manual_ct.enabled","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1320,"wires":[["24b1694e.8d6176"]]},{"id":"274f0993.6a437e","type":"change","z":"f9337f21.0eab78","name":"Save Level as CT","rules":[{"t":"set","p":"manual_ct.value","pt":"flow","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1360,"wires":[["6e905ba6.dfadcc"]]},{"id":"d992f052.6d2dd8","type":"change","z":"f9337f21.0eab78","name":"Set Manual CT","rules":[{"t":"set","p":"payload","pt":"msg","to":"manual_ct.value","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1060,"wires":[["9a110e75.82802"]]},{"id":"24b1694e.8d6176","type":"link out","z":"f9337f21.0eab78","name":"rapid ct change","links":["c0cc2888.9c36f8"],"x":815,"y":1280,"wires":[]},{"id":"c0cc2888.9c36f8","type":"link in","z":"f9337f21.0eab78","name":"","links":["24b1694e.8d6176"],"x":75,"y":1140,"wires":[["7a1e014f.2d5688"]]},{"id":"6e905ba6.dfadcc","type":"switch","z":"f9337f21.0eab78","name":"","property":"manual_ct.enabled","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1360,"wires":[["24b1694e.8d6176"]]},{"id":"7bee6883.94ed38","type":"inject","z":"f9337f21.0eab78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":800,"wires":[["3a1c72fd.9057ee"]]},{"id":"b7999ac5.29b36","type":"hubitat command","z":"f9337f21.0eab78","name":"Vox","server":"252d4ef4.c14b6a","deviceId":"65","command":"deviceNotification","commandArgs":"","x":1370,"y":740,"wires":[[]]},{"id":"6a90618f.4c26c8","type":"hubitat device","z":"f9337f21.0eab78","name":"Presence L Home","server":"252d4ef4.c14b6a","deviceId":"358","attribute":"presence","sendEvent":true,"x":470,"y":740,"wires":[["2758514a.abd0de"]]},{"id":"a193ec43.1ac438","type":"hubitat device","z":"f9337f21.0eab78","name":"Presence R Home ","server":"252d4ef4.c14b6a","deviceId":"321","attribute":"presence","sendEvent":true,"x":470,"y":860,"wires":[[]]},{"id":"3a1c72fd.9057ee","type":"delay","z":"f9337f21.0eab78","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":275,"y":800,"wires":[["6a90618f.4c26c8","a193ec43.1ac438"]],"l":false},{"id":"abb7e087.d84958","type":"switch","z":"f9337f21.0eab78","name":"Rob is home","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"present","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":740,"wires":[["32e1514c.249f3e"]]},{"id":"c320c064.141788","type":"debug","z":"f9337f21.0eab78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":680,"wires":[]},{"id":"2758514a.abd0de","type":"hubitat device","z":"f9337f21.0eab78","name":"Presence R Home ","server":"252d4ef4.c14b6a","deviceId":"321","attribute":"presence","sendEvent":false,"x":690,"y":740,"wires":[["abb7e087.d84958"]]},{"id":"32e1514c.249f3e","type":"change","z":"f9337f21.0eab78","name":"","rules":[{"t":"set","p":"arguments","pt":"msg","to":"Leah is coming home!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":740,"wires":[["b7999ac5.29b36","c320c064.141788"]]}]