flows_Roberts-Mac-mini-2.local.json
[
    {
        "id": "f30f9979.39f178",
        "type": "tab",
        "label": "Sun Timers",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f9337f21.0eab78",
        "type": "tab",
        "label": "Lights",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1c7f362.7de41",
        "type": "subflow",
        "name": "Time Converter",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 260,
                "y": 480,
                "wires": [
                    {
                        "id": "ae545d5b.975008"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 480,
                "wires": [
                    {
                        "id": "ae545d5b.975008",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 540,
            "y": 540,
            "wires": [
                {
                    "id": "ae545d5b.975008",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "eaca82ad.4ed06",
        "type": "subflow",
        "name": "Push Rob",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "c044ca5b.081a6"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "7435c4c5.81ec14",
        "type": "subflow",
        "name": "Push L",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "236b247f.af15c4"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "c79ec61c.5274a8",
        "type": "subflow",
        "name": "Main floor motion is enabled",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "d1470657.61394"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 300,
                "wires": [
                    {
                        "id": "fdbf5834.ae9ad8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "4c7c8cd1.6a2a1c",
        "type": "subflow",
        "name": "My Zone Active",
        "info": " Zone Active\n \nZA is a contact and motion sensor aggregator. \n\nIt will transmit the active message when a motion sensor goes active or when a contact sensor changes state. \n\n After a configurable delay, it will transmit a  deactivated message.\n \n Contact sensors are considered disabled after the \"sensor reset delay \" elapsed time passes. \n \n Sensor reset delay and activity reset delay are in seconds.",
        "category": "",
        "in": [
            {
                "x": 300,
                "y": 200,
                "wires": [
                    {
                        "id": "5e909849.a5ede"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1340,
                "y": 520,
                "wires": [
                    {
                        "id": "cfb39ab9.45346",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1340,
                "y": 580,
                "wires": [
                    {
                        "id": "f9fb7202.670248",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Zone Name",
                "type": "str",
                "value": "Motion zone"
            },
            {
                "name": "sensor_reset_delay",
                "type": "num",
                "value": "30"
            },
            {
                "name": "activity_reset_delay",
                "type": "num",
                "value": "300"
            }
        ],
        "color": "#DDAA99",
        "status": {
            "x": 1240,
            "y": 940,
            "wires": [
                {
                    "id": "baa794b2.a49bd",
                    "port": 0
                },
                {
                    "id": "3adf6856.200d98",
                    "port": 0
                },
                {
                    "id": "6214c0ab.73eb08",
                    "port": 0
                },
                {
                    "id": "febb9c0d.c5d6e8",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "30a7f92d.9fbe16",
        "type": "subflow",
        "name": "Lutron Decoder",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 120,
                "wires": [
                    {
                        "id": "632a01bf.d36c38"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1340,
                "y": 100,
                "wires": [
                    {
                        "id": "9332a190.b5b628",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "4937c23770576172",
        "type": "subflow",
        "name": "Exclude Lights from Auto-CT",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 260,
                "y": 200,
                "wires": [
                    {
                        "id": "98ba09ad836e7c3e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 200,
                "wires": [
                    {
                        "id": "f7f7dca3d7a44860",
                        "port": 1
                    },
                    {
                        "id": "98ba09ad836e7c3e",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "252d4ef4.c14b6a",
        "type": "hubitat config",
        "name": "Hubitat",
        "usetls": false,
        "host": "172.16.0.5",
        "port": "80",
        "appId": "14",
        "nodeRedServer": "http://172.16.0.25:1880",
        "webhookPath": "/hubitat/webhook",
        "autoRefresh": false,
        "useWebsocket": false,
        "colorEnabled": false,
        "color": "#000000"
    },
    {
        "id": "96c207ac.2237a8",
        "type": "position-config",
        "name": "Home",
        "isValide": "true",
        "longitude": "0",
        "latitude": "0",
        "angleType": "deg",
        "timeZoneOffset": "99",
        "timeZoneDST": "0",
        "stateTimeFormat": "3",
        "stateDateFormat": "12"
    },
    {
        "id": "d2fcc025.17ad7",
        "type": "pushover-keys",
        "name": "Robacarp"
    },
    {
        "id": "f2d9c01d.62cb2",
        "type": "lutron-config",
        "name": "Caseta Hub",
        "ipaddress": "172.16.0.11",
        "deviceMap": {
            "pico": "0"
        },
        "timeout": "45000"
    },
    {
        "id": "68d5add8.ad02a4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9ad6e619.cdab7",
        "type": "ui_group",
        "name": "Default",
        "tab": "68d5add8.ad02a4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b9350de11f714bc2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aa0d64a0.a2b408",
        "type": "comment",
        "z": "c1c7f362.7de41",
        "name": "Time Zone Offset",
        "info": "",
        "x": 400,
        "y": 360,
        "wires": []
    },
    {
        "id": "a0e70412.49cd3",
        "type": "comment",
        "z": "c1c7f362.7de41",
        "name": "ms -> s",
        "info": "",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "f207fd86.a5521",
        "type": "comment",
        "z": "c1c7f362.7de41",
        "name": "seconds since midnight",
        "info": "",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "ba6ff9d9.4f1458",
        "type": "comment",
        "z": "c1c7f362.7de41",
        "name": "hours since midnight",
        "info": "",
        "x": 410,
        "y": 440,
        "wires": []
    },
    {
        "id": "ae545d5b.975008",
        "type": "change",
        "z": "c1c7f362.7de41",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload / 1000",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload - (3600 * 6)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload % 86400",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload / 3600",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c044ca5b.081a6",
        "type": "change",
        "z": "eaca82ad.4ed06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "msg",
                "to": "R",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "43ed4749.b7752"
            ]
        ]
    },
    {
        "id": "43ed4749.b7752",
        "type": "pushover api",
        "z": "eaca82ad.4ed06",
        "keys": "d2fcc025.17ad7",
        "title": "",
        "name": "",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "236b247f.af15c4",
        "type": "change",
        "z": "7435c4c5.81ec14",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "msg",
                "to": "L,ipad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "f4a49bd9.f676f8"
            ]
        ]
    },
    {
        "id": "f4a49bd9.f676f8",
        "type": "pushover api",
        "z": "7435c4c5.81ec14",
        "keys": "d2fcc025.17ad7",
        "title": "",
        "name": "",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "3cca5a12.e156b6",
        "type": "switch",
        "z": "c79ec61c.5274a8",
        "name": "is enabled",
        "property": "payload.currentValue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "fdbf5834.ae9ad8"
            ]
        ]
    },
    {
        "id": "75cdf7ec.d90a48",
        "type": "hubitat device",
        "z": "c79ec61c.5274a8",
        "name": "Main Floor Motion Master",
        "server": "252d4ef4.c14b6a",
        "deviceId": "877",
        "attribute": "switch",
        "sendEvent": false,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "3cca5a12.e156b6"
            ]
        ]
    },
    {
        "id": "d1470657.61394",
        "type": "change",
        "z": "c79ec61c.5274a8",
        "name": "Store payload",
        "rules": [
            {
                "t": "set",
                "p": "sent_payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "75cdf7ec.d90a48"
            ]
        ]
    },
    {
        "id": "fdbf5834.ae9ad8",
        "type": "change",
        "z": "c79ec61c.5274a8",
        "name": "ReStore payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sent_payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "sent_payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "37082482.1d726c",
        "type": "unsafe-function",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Motion Aggregator",
        "func": "let motionStatus = null;\nlet activeCount = 0;\n\nlet sensors = context.get(\"sensors\") || {};\nlet wasActive = context.get(\"active\") || false;\nlet deviceId\n\nif (typeof msg.payload != \"undefined\" && msg.payload !== null) {\n    deviceId = msg.payload.deviceId;\n}\n\nif (typeof deviceId != \"undefined\") {\n\n    // If we didn't receive an event, the process was triggered by something else (eg. enabling the automation)\n    motionStatus = msg.payload.value\n\n    if (typeof sensors[deviceId] == \"undefined\") {\n        sensors[deviceId] = {}\n    }\n\n    let deviceObject = sensors[deviceId]\n\n    deviceObject.state = motionStatus\n    deviceObject.displayName = msg.topic\n\n    context.set(\"sensors\", sensors)\n}\n\n\nfor (let [deviceId, values] of Object.entries(sensors)) {\n    if ( values.state == 'active' ) {\n        activeCount++\n    }\n}\n\nconst active = activeCount > 0\n\nnewMessage = {\n  topic: env.get(\"Zone Name\"),\n  payload: active ? \"active\" : \"inactive\",\n  count: activeCount\n}\n\n    context.set(\"active\", active)\n    return newMessage\n",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 160,
        "wires": [
            [
                "1135a6a5.8ffeb9"
            ]
        ]
    },
    {
        "id": "baa794b2.a49bd",
        "type": "change",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Active sensor count",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "count  & \" \" & payload & \" sensors\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f9fb7202.670248",
        "type": "trigger",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Activity reset",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "5",
        "extend": true,
        "overrideDelay": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1110,
        "y": 580,
        "wires": [
            [
                "10373673.0c7d0a"
            ]
        ]
    },
    {
        "id": "f95fc416.12cdb8",
        "type": "switch",
        "z": "4c7c8cd1.6a2a1c",
        "name": "is active?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 600,
        "wires": [
            [
                "bf8561c.27047a",
                "cfb39ab9.45346"
            ],
            [
                "4c35d83e.70c12"
            ]
        ]
    },
    {
        "id": "d1fef5e9.1faa",
        "type": "switch",
        "z": "4c7c8cd1.6a2a1c",
        "name": "is active?",
        "property": "count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 960,
        "wires": [
            [
                "3adf6856.200d98"
            ],
            [
                "baa794b2.a49bd"
            ]
        ]
    },
    {
        "id": "3adf6856.200d98",
        "type": "change",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Inactive",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "inactive",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "bf8561c.27047a",
        "type": "change",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 580,
        "wires": [
            [
                "f9fb7202.670248",
                "d6e965c0.d24cd"
            ]
        ]
    },
    {
        "id": "5e909849.a5ede",
        "type": "switch",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Separate motion from contact",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "motion",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "contact",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "37082482.1d726c"
            ],
            [
                "ee67eca9.7c9548",
                "83dac1a6.f49bb"
            ]
        ]
    },
    {
        "id": "ee67eca9.7c9548",
        "type": "change",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Set active",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "active",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 220,
        "wires": [
            [
                "de4555d9.03c9f8"
            ]
        ]
    },
    {
        "id": "9dec185d.0fa0b",
        "type": "change",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Set inactive",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "inactive",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "de4555d9.03c9f8"
            ]
        ]
    },
    {
        "id": "979d8215.69ba18",
        "type": "link out",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Switch Event",
        "links": [
            "b4f2e905.4ec488",
            "db637502.ed7b1"
        ],
        "x": 1455,
        "y": 220,
        "wires": []
    },
    {
        "id": "1135a6a5.8ffeb9",
        "type": "link out",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Motion Event",
        "links": [
            "b4f2e905.4ec488"
        ],
        "x": 1195,
        "y": 160,
        "wires": []
    },
    {
        "id": "c551054e.c3663",
        "type": "link in",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Trigger Status Update",
        "links": [
            "10373673.0c7d0a"
        ],
        "x": 295,
        "y": 940,
        "wires": [
            [
                "2d4ae563.a0394a"
            ]
        ]
    },
    {
        "id": "b4f2e905.4ec488",
        "type": "link in",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Set Outputs",
        "links": [
            "1135a6a5.8ffeb9",
            "979d8215.69ba18"
        ],
        "x": 295,
        "y": 600,
        "wires": [
            [
                "a6ce7a5b.5718f8"
            ]
        ]
    },
    {
        "id": "cb4ad9ea.ed3e38",
        "type": "comment",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Motion event",
        "info": "",
        "x": 1310,
        "y": 160,
        "wires": []
    },
    {
        "id": "acfeb2ce.da0e98",
        "type": "comment",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Sensor event",
        "info": "",
        "x": 1570,
        "y": 220,
        "wires": []
    },
    {
        "id": "83dac1a6.f49bb",
        "type": "change",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Sensor reset delay",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "sensor reset delay",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay * 1000",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 915,
        "y": 260,
        "wires": [
            [
                "1f831024.572ef8"
            ]
        ],
        "l": false
    },
    {
        "id": "1f831024.572ef8",
        "type": "trigger",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Sensor reset",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "5",
        "extend": true,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 260,
        "wires": [
            [
                "9dec185d.0fa0b"
            ]
        ]
    },
    {
        "id": "4c35d83e.70c12",
        "type": "change",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Configure activity reset delay",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "activity_reset_delay",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay * 1000",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 620,
        "wires": [
            [
                "f9fb7202.670248",
                "6799e319.6e6d34"
            ]
        ]
    },
    {
        "id": "7a24866e.db567",
        "type": "comment",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Zone Active",
        "info": "",
        "x": 1450,
        "y": 520,
        "wires": []
    },
    {
        "id": "268891b5.f0e4f6",
        "type": "comment",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Zone Inactive",
        "info": "",
        "x": 1450,
        "y": 580,
        "wires": []
    },
    {
        "id": "de4555d9.03c9f8",
        "type": "rbe",
        "z": "4c7c8cd1.6a2a1c",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1375,
        "y": 220,
        "wires": [
            [
                "979d8215.69ba18"
            ]
        ],
        "l": false
    },
    {
        "id": "28fb421d.2d7a2e",
        "type": "comment",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Status text",
        "info": "",
        "x": 340,
        "y": 880,
        "wires": []
    },
    {
        "id": "2d4ae563.a0394a",
        "type": "switch",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Motion zone active",
        "property": "zone_active",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 940,
        "wires": [
            [
                "6214c0ab.73eb08"
            ],
            [
                "d1fef5e9.1faa"
            ]
        ]
    },
    {
        "id": "6214c0ab.73eb08",
        "type": "change",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Disabled",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Zone disabled",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "a6ce7a5b.5718f8",
        "type": "switch",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Zone enabled?",
        "property": "zone_active",
        "propertyType": "flow",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 600,
        "wires": [
            [
                "f95fc416.12cdb8"
            ],
            []
        ]
    },
    {
        "id": "c90679d.51c6188",
        "type": "comment",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Outputs",
        "info": "",
        "x": 330,
        "y": 540,
        "wires": []
    },
    {
        "id": "d38c5418.44b928",
        "type": "comment",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Count motion events and transmit both enabled and disabled messages",
        "info": "",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "ed000248.4c118",
        "type": "inject",
        "z": "4c7c8cd1.6a2a1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "2d4ae563.a0394a"
            ]
        ]
    },
    {
        "id": "febb9c0d.c5d6e8",
        "type": "change",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Status: Cooldown x seconds",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay / 1000",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Cooldown \" & delay & \"s\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d6e965c0.d24cd",
        "type": "trigger",
        "z": "4c7c8cd1.6a2a1c",
        "name": "1s delay",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1180,
        "y": 760,
        "wires": [
            [
                "6799e319.6e6d34"
            ]
        ]
    },
    {
        "id": "6799e319.6e6d34",
        "type": "change",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Decrement Delay",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay - 1000",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 620,
        "wires": [
            [
                "febb9c0d.c5d6e8",
                "4ee48e99.b05a9"
            ]
        ]
    },
    {
        "id": "cfb39ab9.45346",
        "type": "trigger",
        "z": "4c7c8cd1.6a2a1c",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 715,
        "y": 520,
        "wires": [
            [
                "10373673.0c7d0a"
            ]
        ],
        "l": false
    },
    {
        "id": "10373673.0c7d0a",
        "type": "link out",
        "z": "4c7c8cd1.6a2a1c",
        "name": "Activity State Change",
        "links": [
            "c551054e.c3663"
        ],
        "x": 1335,
        "y": 460,
        "wires": []
    },
    {
        "id": "4ee48e99.b05a9",
        "type": "switch",
        "z": "4c7c8cd1.6a2a1c",
        "name": "delay > 1",
        "property": "delay",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 760,
        "wires": [
            [
                "d6e965c0.d24cd"
            ]
        ]
    },
    {
        "id": "8cd11419.9fb37",
        "type": "change",
        "z": "30a7f92d.9fbe16",
        "name": "Button 1",
        "rules": [
            {
                "t": "set",
                "p": "payload.button",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 40,
        "wires": [
            [
                "9164c316.fa994"
            ]
        ]
    },
    {
        "id": "632a01bf.d36c38",
        "type": "switch",
        "z": "30a7f92d.9fbe16",
        "name": "action",
        "property": "payload.button",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 230,
        "y": 100,
        "wires": [
            [
                "8cd11419.9fb37"
            ],
            [
                "4b2429c6.a69c88"
            ],
            [
                "f1eef6f.1455c08"
            ],
            [
                "6f2ca00a.40054"
            ],
            [
                "9801b221.2dbe38"
            ]
        ]
    },
    {
        "id": "69aa2139.1f936",
        "type": "switch",
        "z": "30a7f92d.9fbe16",
        "name": "param",
        "property": "payload.param",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 910,
        "y": 80,
        "wires": [
            [
                "4cd16890.d6ee58"
            ],
            [
                "31320711.4725b8"
            ],
            [
                "9332a190.b5b628"
            ]
        ]
    },
    {
        "id": "31320711.4725b8",
        "type": "change",
        "z": "30a7f92d.9fbe16",
        "name": "Released",
        "rules": [
            {
                "t": "set",
                "p": "payload.interaction",
                "pt": "msg",
                "to": "released",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "9332a190.b5b628"
            ]
        ]
    },
    {
        "id": "4cd16890.d6ee58",
        "type": "change",
        "z": "30a7f92d.9fbe16",
        "name": "Pressed",
        "rules": [
            {
                "t": "set",
                "p": "payload.interaction",
                "pt": "msg",
                "to": "pressed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 60,
        "wires": [
            [
                "9332a190.b5b628"
            ]
        ]
    },
    {
        "id": "9332a190.b5b628",
        "type": "delay",
        "z": "30a7f92d.9fbe16",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1255,
        "y": 100,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "4b2429c6.a69c88",
        "type": "change",
        "z": "30a7f92d.9fbe16",
        "name": "Button 2",
        "rules": [
            {
                "t": "set",
                "p": "payload.button",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 80,
        "wires": [
            [
                "9164c316.fa994"
            ]
        ]
    },
    {
        "id": "9164c316.fa994",
        "type": "delay",
        "z": "30a7f92d.9fbe16",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 615,
        "y": 100,
        "wires": [
            [
                "69aa2139.1f936"
            ]
        ],
        "l": false
    },
    {
        "id": "f1eef6f.1455c08",
        "type": "change",
        "z": "30a7f92d.9fbe16",
        "name": "Button 3",
        "rules": [
            {
                "t": "set",
                "p": "payload.button",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "9164c316.fa994"
            ]
        ]
    },
    {
        "id": "6f2ca00a.40054",
        "type": "change",
        "z": "30a7f92d.9fbe16",
        "name": "Button 4",
        "rules": [
            {
                "t": "set",
                "p": "payload.button",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "9164c316.fa994"
            ]
        ]
    },
    {
        "id": "9801b221.2dbe38",
        "type": "change",
        "z": "30a7f92d.9fbe16",
        "name": "Other btn ",
        "rules": [
            {
                "t": "set",
                "p": "payload.button",
                "pt": "msg",
                "to": "payload.action",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "9164c316.fa994"
            ]
        ]
    },
    {
        "id": "98ba09ad836e7c3e",
        "type": "switch",
        "z": "4937c23770576172",
        "name": "front porch?",
        "property": "deviceId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "66",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "f7f7dca3d7a44860"
            ],
            []
        ]
    },
    {
        "id": "f7f7dca3d7a44860",
        "type": "within-time-switch",
        "z": "4937c23770576172",
        "name": "",
        "positionConfig": "96c207ac.2237a8",
        "startTime": "sunsetEnd",
        "startTimeType": "pdsTime",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "23:00",
        "endTimeType": "entered",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeRestrictions": "",
        "timeRestrictionsType": "none",
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "withinTimeValue": "",
        "withinTimeValueType": "msgInput",
        "outOfTimeValue": "",
        "outOfTimeValueType": "msgInput",
        "tsCompare": "0",
        "x": 650,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2837495c.ae2176",
        "type": "link out",
        "z": "f30f9979.39f178",
        "name": "Sunset",
        "links": [
            "117f15c0.8b285a",
            "89ce2107.6a1858",
            "13a205f.9848cfa"
        ],
        "x": 495,
        "y": 220,
        "wires": []
    },
    {
        "id": "1031c284.48fd75",
        "type": "time-inject",
        "z": "f30f9979.39f178",
        "name": "At Sunset",
        "nameInt": "⏲ sunset start = timestamp",
        "positionConfig": "96c207ac.2237a8",
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "sunsetStart",
        "timeType": "pdsTime",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "payload": "",
        "payloadType": "date",
        "payloadTimeFormat": 0,
        "payloadOffset": 0,
        "payloadOffsetType": "none",
        "payloadOffsetMultiplier": 60000,
        "topic": "",
        "addPayload1": "",
        "addPayload2": "",
        "addPayload3": "",
        "addPayload1Type": "none",
        "addPayload2Type": "none",
        "addPayload3Type": "none",
        "addPayload1Value": "",
        "addPayload2Value": "",
        "addPayload3Value": "",
        "addPayload1ValueType": "date",
        "addPayload2ValueType": "date",
        "addPayload3ValueType": "date",
        "addPayload1Format": "0",
        "addPayload2Format": "0",
        "addPayload3Format": "0",
        "addPayload1Offset": 0,
        "addPayload2Offset": 0,
        "addPayload3Offset": 0,
        "addPayload1OffsetType": "none",
        "addPayload2OffsetType": "none",
        "addPayload3OffsetType": "none",
        "addPayload1OffsetMultiplier": 60000,
        "addPayload2OffsetMultiplier": 60000,
        "addPayload3OffsetMultiplier": 60000,
        "addPayload1Next": true,
        "addPayload2Next": true,
        "addPayload3Next": true,
        "addPayload1Days": "*",
        "addPayload2Days": "*",
        "addPayload3Days": "*",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "2837495c.ae2176"
            ]
        ]
    },
    {
        "id": "4e636188.7f332",
        "type": "link out",
        "z": "f30f9979.39f178",
        "name": "Sunrise",
        "links": [
            "35f56d8f.e1d64a",
            "61f1a42.e969ddc"
        ],
        "x": 495,
        "y": 300,
        "wires": []
    },
    {
        "id": "9beeb167.1d6b78",
        "type": "time-inject",
        "z": "f30f9979.39f178",
        "name": "At Sunrise",
        "nameInt": "⏲ sunrise end = timestamp",
        "positionConfig": "96c207ac.2237a8",
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "sunriseEnd",
        "timeType": "pdsTime",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "payload": "",
        "payloadType": "date",
        "payloadTimeFormat": 0,
        "payloadOffset": 0,
        "payloadOffsetType": "none",
        "payloadOffsetMultiplier": 60000,
        "topic": "",
        "addPayload1": "",
        "addPayload2": "",
        "addPayload3": "",
        "addPayload1Type": "none",
        "addPayload2Type": "none",
        "addPayload3Type": "none",
        "addPayload1Value": "",
        "addPayload2Value": "",
        "addPayload3Value": "",
        "addPayload1ValueType": "date",
        "addPayload2ValueType": "date",
        "addPayload3ValueType": "date",
        "addPayload1Format": "0",
        "addPayload2Format": "0",
        "addPayload3Format": "0",
        "addPayload1Offset": 0,
        "addPayload2Offset": 0,
        "addPayload3Offset": 0,
        "addPayload1OffsetType": "none",
        "addPayload2OffsetType": "none",
        "addPayload3OffsetType": "none",
        "addPayload1OffsetMultiplier": 60000,
        "addPayload2OffsetMultiplier": 60000,
        "addPayload3OffsetMultiplier": 60000,
        "addPayload1Next": true,
        "addPayload2Next": true,
        "addPayload3Next": true,
        "addPayload1Days": "*",
        "addPayload2Days": "*",
        "addPayload3Days": "*",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "4e636188.7f332"
            ]
        ]
    },
    {
        "id": "30a0d8fa1e15d519",
        "type": "time-inject",
        "z": "f30f9979.39f178",
        "name": "23:30",
        "nameInt": "⏲ 23:30 = timestamp",
        "positionConfig": "96c207ac.2237a8",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "",
                "vt": "date",
                "o": "1",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": "*",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            },
            {
                "p": "",
                "pt": "msgTopic",
                "v": "",
                "vt": "str",
                "o": "1",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": false,
                "days": "*",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "23:30",
        "timeType": "entered",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltOnlyOddWeeks": false,
        "timeAltOnlyEvenWeeks": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "6eb44101bb0fa836"
            ]
        ]
    },
    {
        "id": "6eb44101bb0fa836",
        "type": "link out",
        "z": "f30f9979.39f178",
        "name": "Christmas Decor Off",
        "mode": "link",
        "links": [],
        "x": 495,
        "y": 380,
        "wires": []
    },
    {
        "id": "78d27aa4.3a922c",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "color_temperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 920,
        "wires": [
            [
                "b0c8d31a.f0e56"
            ]
        ]
    },
    {
        "id": "e1e38786.f7807",
        "type": "inject",
        "z": "f9337f21.0eab78",
        "name": "Every 15 minutes",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "7a1e014f.2d5688"
            ]
        ]
    },
    {
        "id": "7a1e014f.2d5688",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 415,
        "y": 920,
        "wires": [
            [
                "82929842.1531"
            ]
        ],
        "l": false
    },
    {
        "id": "b0c8d31a.f0e56",
        "type": "link out",
        "z": "f9337f21.0eab78",
        "name": "Color Temperature Updated",
        "links": [
            "ac7411a0.a83e9",
            "dc311cbd.e678c8"
        ],
        "x": 1575,
        "y": 920,
        "wires": []
    },
    {
        "id": "c5d2e3b6.bd6a4",
        "type": "link in",
        "z": "f9337f21.0eab78",
        "name": "",
        "links": [
            "33ed496c.3b1f1e"
        ],
        "x": 95,
        "y": 920,
        "wires": [
            [
                "8fa8cca6.3c39b8"
            ]
        ]
    },
    {
        "id": "8fa8cca6.3c39b8",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 220,
        "y": 920,
        "wires": [
            [
                "7a1e014f.2d5688"
            ]
        ]
    },
    {
        "id": "9a110e75.82802",
        "type": "range",
        "z": "f9337f21.0eab78",
        "minin": "0",
        "maxin": "100",
        "minout": "2500",
        "maxout": "4500",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "percent to kelvin range",
        "x": 1140,
        "y": 920,
        "wires": [
            [
                "78d27aa4.3a922c"
            ]
        ]
    },
    {
        "id": "17a47889.a03a2f",
        "type": "sun-position",
        "z": "f9337f21.0eab78",
        "name": "",
        "positionConfig": "96c207ac.2237a8",
        "rules": [],
        "onlyOnChange": "true",
        "topic": "",
        "outputs": 1,
        "start": "",
        "startType": "none",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "end": "",
        "endType": "none",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "x": 670,
        "y": 940,
        "wires": [
            [
                "f183b6f5.423ec"
            ]
        ]
    },
    {
        "id": "f183b6f5.423ec",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Set Auto Color Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.altitudePercent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 940,
        "wires": [
            [
                "9a110e75.82802"
            ]
        ]
    },
    {
        "id": "f4196dc1.89ccd8",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "active",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 1640,
        "wires": [
            [
                "1cd367a1.c73378"
            ],
            [
                "f5b7b7f4.c342c8"
            ]
        ]
    },
    {
        "id": "3e5c2df.f9db652",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Turn On",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 1600,
        "wires": [
            [
                "7b90c309.66d214"
            ]
        ]
    },
    {
        "id": "2c8106bb.e0c96a",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Turn Off",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 1660,
        "wires": [
            [
                "7b90c309.66d214"
            ]
        ]
    },
    {
        "id": "7b90c309.66d214",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1715,
        "y": 1620,
        "wires": [
            [
                "d56df784.c15a28",
                "6724dcf8.57f25c"
            ]
        ],
        "l": false
    },
    {
        "id": "8bd51c18.0a3aa",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "is off",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1210,
        "y": 1600,
        "wires": [
            [
                "d32f1d97.1bc99"
            ]
        ]
    },
    {
        "id": "1cd367a1.c73378",
        "type": "hubitat device",
        "z": "f9337f21.0eab78",
        "name": "Main Floor Couch Lamp",
        "server": "252d4ef4.c14b6a",
        "deviceId": "537",
        "attribute": "switch",
        "sendEvent": false,
        "x": 1030,
        "y": 1600,
        "wires": [
            [
                "8bd51c18.0a3aa"
            ]
        ]
    },
    {
        "id": "5c2386b3.633c78",
        "type": "rbe",
        "z": "f9337f21.0eab78",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload.value",
        "x": 735,
        "y": 1640,
        "wires": [
            [
                "f4196dc1.89ccd8"
            ]
        ],
        "l": false
    },
    {
        "id": "bc068690.56656",
        "type": "within-time-switch",
        "z": "f9337f21.0eab78",
        "name": "(at night)",
        "positionConfig": "96c207ac.2237a8",
        "startTime": "sunsetStart",
        "startTimeType": "pdsTime",
        "startOffset": "-60",
        "startOffsetType": "num",
        "startOffsetMultiplier": 60000,
        "endTime": "sunriseEnd",
        "endTimeType": "pdsTime",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "tsCompare": "0",
        "x": 620,
        "y": 1640,
        "wires": [
            [
                "5c2386b3.633c78"
            ],
            []
        ]
    },
    {
        "id": "d32f1d97.1bc99",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "enable auto shut-off",
        "rules": [
            {
                "t": "set",
                "p": "main_lights_auto_off",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 1600,
        "wires": [
            [
                "3e5c2df.f9db652"
            ]
        ]
    },
    {
        "id": "f5b7b7f4.c342c8",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "was turned on by motion",
        "property": "main_lights_auto_off",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 1680,
        "wires": [
            [
                "2c8106bb.e0c96a",
                "f8f5da1.fc20a28"
            ]
        ]
    },
    {
        "id": "f8f5da1.fc20a28",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "disable auto shut-off",
        "rules": [
            {
                "t": "set",
                "p": "main_lights_auto_off",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "d56df784.c15a28",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "name": "Main Floor Couch Lamp",
        "server": "252d4ef4.c14b6a",
        "deviceId": "537",
        "command": "",
        "commandArgs": "",
        "x": 1890,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "6724dcf8.57f25c",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "name": "Main Floor Chair Lamp",
        "server": "252d4ef4.c14b6a",
        "deviceId": "536",
        "command": "",
        "commandArgs": "",
        "x": 1880,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "6c06e8fb.71416",
        "type": "hubitat device",
        "z": "f9337f21.0eab78",
        "name": "mZone-Main Floor",
        "server": "252d4ef4.c14b6a",
        "deviceId": "528",
        "attribute": "motion",
        "sendEvent": false,
        "x": 930,
        "y": 2000,
        "wires": [
            [
                "c1ddc556.635c78"
            ]
        ]
    },
    {
        "id": "c1ddc556.635c78",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "is not active / active",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "neq",
                "v": "active",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1140,
        "y": 2000,
        "wires": [
            [
                "769489af.fba268"
            ],
            [
                "b56c9c93.da1378"
            ]
        ]
    },
    {
        "id": "b6d68017.7f0ed",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "name": "Main Floor Couch Lamp",
        "server": "252d4ef4.c14b6a",
        "deviceId": "537",
        "command": "",
        "commandArgs": "",
        "x": 1810,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "f7385003.dbc5c8",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "name": "Main Floor Chair Lamp",
        "server": "252d4ef4.c14b6a",
        "deviceId": "536",
        "command": "",
        "commandArgs": "",
        "x": 1800,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "b56c9c93.da1378",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Turn Off",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 2020,
        "wires": [
            [
                "98b41af4.02371"
            ]
        ]
    },
    {
        "id": "98b41af4.02371",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1535,
        "y": 2020,
        "wires": [
            [
                "b6d68017.7f0ed",
                "f7385003.dbc5c8",
                "9bd699af.5487c8"
            ]
        ],
        "l": false
    },
    {
        "id": "769489af.fba268",
        "type": "within-time-switch",
        "z": "f9337f21.0eab78",
        "name": "",
        "positionConfig": "96c207ac.2237a8",
        "startTime": "trigger_time",
        "startTimeType": "msg",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "sunrise",
        "endTimeType": "pdsTime",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "tsCompare": "0",
        "x": 1450,
        "y": 1960,
        "wires": [
            [
                "8366a27b.f4e078"
            ],
            [
                "9bd699af.5487c8"
            ]
        ]
    },
    {
        "id": "9bd699af.5487c8",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1780,
        "y": 1980,
        "wires": [
            [
                "8366a27b.f4e078"
            ]
        ]
    },
    {
        "id": "32fa6bf1.ab3b1c",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "trigger_time",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 2000,
        "wires": [
            [
                "3167159b.afdf82"
            ]
        ]
    },
    {
        "id": "8366a27b.f4e078",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "delay",
        "timeout": "25",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1990,
        "y": 1940,
        "wires": [
            [
                "a0f93288.1af51"
            ]
        ]
    },
    {
        "id": "b8dd13b1.797cb",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Turn Off",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 2380,
        "wires": [
            [
                "89753df20ca7d578"
            ]
        ]
    },
    {
        "id": "5c9841f.19b74c",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Turn On",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 2340,
        "wires": [
            [
                "89753df20ca7d578"
            ]
        ]
    },
    {
        "id": "1fbcdc78.00e81c",
        "type": "comment",
        "z": "f9337f21.0eab78",
        "name": "Porch light",
        "info": "",
        "x": 100,
        "y": 2140,
        "wires": []
    },
    {
        "id": "30aade80.91cb42",
        "type": "within-time-switch",
        "z": "f9337f21.0eab78",
        "name": "sunset - sunrise",
        "positionConfig": "96c207ac.2237a8",
        "startTime": "sunsetEnd",
        "startTimeType": "pdsTime",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "sunriseStart",
        "endTimeType": "pdsTime",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeRestrictions": "",
        "timeRestrictionsType": "none",
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "withinTimeValue": "",
        "withinTimeValueType": "msgInput",
        "outOfTimeValue": "",
        "outOfTimeValueType": "msgInput",
        "tsCompare": "0",
        "x": 240,
        "y": 2360,
        "wires": [
            [
                "5c9841f.19b74c"
            ],
            [
                "b8dd13b1.797cb"
            ]
        ]
    },
    {
        "id": "76fddf4.66e0da",
        "type": "inject",
        "z": "f9337f21.0eab78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 95,
        "y": 2360,
        "wires": [
            [
                "30aade80.91cb42"
            ]
        ],
        "l": false
    },
    {
        "id": "82929842.1531",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "",
        "property": "manual_ct.enabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 920,
        "wires": [
            [
                "d992f052.6d2dd8"
            ],
            [
                "17a47889.a03a2f"
            ]
        ]
    },
    {
        "id": "d992f052.6d2dd8",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Set Manual CT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "manual_ct.value",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 900,
        "wires": [
            [
                "9a110e75.82802"
            ]
        ]
    },
    {
        "id": "e834d70c.0d45a8",
        "type": "comment",
        "z": "f9337f21.0eab78",
        "name": "Set CT target every 15 min",
        "info": "",
        "x": 190,
        "y": 800,
        "wires": []
    },
    {
        "id": "2537c3e7.bad0ac",
        "type": "comment",
        "z": "f9337f21.0eab78",
        "name": "Motion activate main floor lights",
        "info": "",
        "x": 170,
        "y": 1580,
        "wires": []
    },
    {
        "id": "4ffc18a5.75f8d",
        "type": "comment",
        "z": "f9337f21.0eab78",
        "name": "auto shut off main floor lights",
        "info": "",
        "x": 160,
        "y": 1900,
        "wires": []
    },
    {
        "id": "aed4e04c.0256a8",
        "type": "comment",
        "z": "f9337f21.0eab78",
        "name": "if it's not between sunset and sunrise, abort and cancel any pending loops",
        "info": "",
        "x": 1560,
        "y": 1900,
        "wires": []
    },
    {
        "id": "117f15c0.8b285a",
        "type": "link in",
        "z": "f9337f21.0eab78",
        "name": "",
        "links": [
            "2837495c.ae2176"
        ],
        "x": 235,
        "y": 2000,
        "wires": [
            [
                "32fa6bf1.ab3b1c"
            ]
        ]
    },
    {
        "id": "89ce2107.6a1858",
        "type": "link in",
        "z": "f9337f21.0eab78",
        "name": "",
        "links": [
            "2837495c.ae2176"
        ],
        "x": 235,
        "y": 2320,
        "wires": [
            [
                "5c9841f.19b74c"
            ]
        ]
    },
    {
        "id": "35f56d8f.e1d64a",
        "type": "link in",
        "z": "f9337f21.0eab78",
        "name": "",
        "links": [
            "4e636188.7f332"
        ],
        "x": 235,
        "y": 2400,
        "wires": [
            [
                "b8dd13b1.797cb"
            ]
        ]
    },
    {
        "id": "3167159b.afdf82",
        "type": "subflow:c79ec61c.5274a8",
        "z": "f9337f21.0eab78",
        "x": 680,
        "y": 2000,
        "wires": [
            [
                "6c06e8fb.71416"
            ]
        ]
    },
    {
        "id": "3680fde5.c22a4a",
        "type": "subflow:c79ec61c.5274a8",
        "z": "f9337f21.0eab78",
        "name": "",
        "env": [],
        "x": 400,
        "y": 1640,
        "wires": [
            [
                "bc068690.56656"
            ]
        ]
    },
    {
        "id": "7fb77504.40d0cc",
        "type": "time-inject",
        "z": "f9337f21.0eab78",
        "name": "",
        "nameInt": "⏲ 1:00 = timestamp",
        "positionConfig": "96c207ac.2237a8",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "",
                "vt": "date",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": ""
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "1:00",
        "timeType": "entered",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 160,
        "y": 1960,
        "wires": [
            [
                "32fa6bf1.ab3b1c"
            ]
        ]
    },
    {
        "id": "5c121b47.3e6bfc",
        "type": "time-inject",
        "z": "f9337f21.0eab78",
        "d": true,
        "name": "",
        "nameInt": "⏲ 2:00 = timestamp",
        "positionConfig": "96c207ac.2237a8",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "",
                "vt": "date",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": "",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            },
            {
                "p": "",
                "pt": "msgTopic",
                "v": "",
                "vt": "str",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": false,
                "days": "",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "2:00",
        "timeType": "entered",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltOnlyOddWeeks": false,
        "timeAltOnlyEvenWeeks": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 200,
        "y": 2740,
        "wires": [
            [
                "ee749310.3ea05",
                "47d65929.faec98"
            ]
        ]
    },
    {
        "id": "ee749310.3ea05",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "name": "Basement Couch Lamp",
        "server": "252d4ef4.c14b6a",
        "deviceId": "97",
        "command": "off",
        "commandArgs": "",
        "x": 470,
        "y": 2740,
        "wires": [
            []
        ]
    },
    {
        "id": "47d65929.faec98",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "deviceLabel": "",
        "name": "Basement Leahs Desk",
        "server": "252d4ef4.c14b6a",
        "deviceId": "1007",
        "command": "off",
        "commandArgs": "",
        "x": 460,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "cb67386e.a09cc8",
        "type": "comment",
        "z": "f9337f21.0eab78",
        "name": "Turn off basement lights",
        "info": "",
        "x": 180,
        "y": 2680,
        "wires": []
    },
    {
        "id": "ffae05f7.c055d8",
        "type": "link in",
        "z": "f9337f21.0eab78",
        "name": "",
        "links": [
            "a0f93288.1af51"
        ],
        "x": 235,
        "y": 2040,
        "wires": [
            [
                "32fa6bf1.ab3b1c"
            ]
        ]
    },
    {
        "id": "a0f93288.1af51",
        "type": "link out",
        "z": "f9337f21.0eab78",
        "name": "Main Lights off",
        "links": [
            "ffae05f7.c055d8"
        ],
        "x": 2115,
        "y": 1940,
        "wires": []
    },
    {
        "id": "363a9c66.018164",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "deviceLabel": "",
        "name": "Christmas Tree Off",
        "server": "252d4ef4.c14b6a",
        "deviceId": "9",
        "command": "off",
        "commandArgs": "",
        "x": 570,
        "y": 3000,
        "wires": [
            []
        ]
    },
    {
        "id": "4ce81eb7.3b5058",
        "type": "time-inject",
        "z": "f9337f21.0eab78",
        "name": "",
        "nameInt": "⏲ 23:45 = timestamp",
        "positionConfig": "96c207ac.2237a8",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "",
                "vt": "date",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": "",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            },
            {
                "p": "",
                "pt": "msgTopic",
                "v": "",
                "vt": "str",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": false,
                "days": "",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "23:45",
        "timeType": "entered",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltOnlyOddWeeks": false,
        "timeAltOnlyEvenWeeks": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 260,
        "y": 3000,
        "wires": [
            [
                "43841e78d19b1e4f"
            ]
        ]
    },
    {
        "id": "c596c921.6f231",
        "type": "time-inject",
        "z": "f9337f21.0eab78",
        "name": "",
        "nameInt": "⏲ 6:00 = timestamp",
        "positionConfig": "96c207ac.2237a8",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "",
                "vt": "date",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": "",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            },
            {
                "p": "",
                "pt": "msgTopic",
                "v": "",
                "vt": "str",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": false,
                "days": "",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "6:00",
        "timeType": "entered",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltOnlyOddWeeks": false,
        "timeAltOnlyEvenWeeks": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 260,
        "y": 2940,
        "wires": [
            [
                "659581e44aa2efdd"
            ]
        ]
    },
    {
        "id": "2ef30931.bfae5e",
        "type": "comment",
        "z": "f9337f21.0eab78",
        "name": "Christmas things",
        "info": "Christmas Tree",
        "x": 160,
        "y": 2900,
        "wires": []
    },
    {
        "id": "4c8e959.ebe296c",
        "type": "within-time-switch",
        "z": "f9337f21.0eab78",
        "name": "",
        "positionConfig": "96c207ac.2237a8",
        "startTime": "sunsetEnd",
        "startTimeType": "pdsTime",
        "startOffset": "-45",
        "startOffsetType": "num",
        "startOffsetMultiplier": 60000,
        "endTime": "23:45",
        "endTimeType": "entered",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeRestrictions": "",
        "timeRestrictionsType": "none",
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "withinTimeValue": "",
        "withinTimeValueType": "msgInput",
        "outOfTimeValue": "",
        "outOfTimeValueType": "msgInput",
        "tsCompare": "0",
        "x": 260,
        "y": 3220,
        "wires": [
            [
                "22b6d01e.452a48"
            ],
            [
                "103cf87a.abee18"
            ]
        ]
    },
    {
        "id": "4b47917.4f0bb7",
        "type": "inject",
        "z": "f9337f21.0eab78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 3220,
        "wires": [
            [
                "4c8e959.ebe296c"
            ]
        ],
        "l": false
    },
    {
        "id": "22b6d01e.452a48",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "deviceLabel": "",
        "name": "Christmas outdoor lights On",
        "server": "252d4ef4.c14b6a",
        "deviceId": "8",
        "command": "on",
        "commandArgs": "",
        "x": 500,
        "y": 3180,
        "wires": [
            []
        ]
    },
    {
        "id": "103cf87a.abee18",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "deviceLabel": "",
        "name": "Outdoor Christmas lights Off",
        "server": "252d4ef4.c14b6a",
        "deviceId": "8",
        "command": "off",
        "commandArgs": "",
        "x": 500,
        "y": 3240,
        "wires": [
            []
        ]
    },
    {
        "id": "7bbb3a43.05164c",
        "type": "time-inject",
        "z": "f9337f21.0eab78",
        "name": "",
        "nameInt": "⏲ 22:30 = timestamp",
        "positionConfig": "96c207ac.2237a8",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "",
                "vt": "date",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": "",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            },
            {
                "p": "",
                "pt": "msgTopic",
                "v": "",
                "vt": "str",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": false,
                "days": "",
                "months": "*",
                "onlyOddDays": false,
                "onlyEvenDays": false,
                "onlyOddWeeks": false,
                "onlyEvenWeeks": false
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "22:30",
        "timeType": "entered",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltOnlyOddWeeks": false,
        "timeAltOnlyEvenWeeks": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 240,
        "y": 3280,
        "wires": [
            [
                "103cf87a.abee18"
            ]
        ]
    },
    {
        "id": "13a205f.9848cfa",
        "type": "link in",
        "z": "f9337f21.0eab78",
        "name": "",
        "links": [
            "2837495c.ae2176"
        ],
        "x": 155,
        "y": 3160,
        "wires": [
            [
                "22b6d01e.452a48"
            ]
        ]
    },
    {
        "id": "58e0ec60.bafb94",
        "type": "hubitat event",
        "z": "f9337f21.0eab78",
        "name": "All Events",
        "server": "252d4ef4.c14b6a",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "94dde739.518ef8"
            ]
        ]
    },
    {
        "id": "94dde739.518ef8",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "== switch",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "switch",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "9c7a6454.dc21f"
            ]
        ]
    },
    {
        "id": "9c7a6454.dc21f",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "== on",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "c8190e0a.7f7a48"
            ]
        ]
    },
    {
        "id": "bccb5224.c91e6",
        "type": "hubitat device",
        "z": "f9337f21.0eab78",
        "deviceLabel": "",
        "name": "Fetch Device",
        "server": "252d4ef4.c14b6a",
        "deviceId": "",
        "attribute": "",
        "sendEvent": false,
        "x": 1030,
        "y": 260,
        "wires": [
            [
                "e473965f.8a5b68"
            ]
        ]
    },
    {
        "id": "c8190e0a.7f7a48",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "deviceId",
                "pt": "msg",
                "to": "payload.deviceId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "70e69fee4d9c2604"
            ]
        ]
    },
    {
        "id": "60321171.83d2c8",
        "type": "comment",
        "z": "f9337f21.0eab78",
        "name": "When a device is turned on, check if it's a CT bulb",
        "info": "",
        "x": 270,
        "y": 200,
        "wires": []
    },
    {
        "id": "e473965f.8a5b68",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "CT Bulb?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "colorTemperature",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1200,
        "y": 260,
        "wires": [
            [
                "33ed496c.3b1f1e"
            ]
        ]
    },
    {
        "id": "10420ba7.156514",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Set Color Temp",
        "rules": [
            {
                "t": "set",
                "p": "arguments",
                "pt": "msg",
                "to": "color_temperature",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "setColorTemperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 600,
        "wires": [
            [
                "c1b27dbf.a11668"
            ]
        ]
    },
    {
        "id": "c1b27dbf.a11668",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "deviceLabel": "",
        "name": "",
        "server": "252d4ef4.c14b6a",
        "deviceId": "",
        "command": "",
        "commandArgs": "",
        "x": 400,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "33ed496c.3b1f1e",
        "type": "link out",
        "z": "f9337f21.0eab78",
        "name": "Bulb turned on",
        "links": [
            "950cba8b.112ef8",
            "c5d2e3b6.bd6a4"
        ],
        "x": 1295,
        "y": 260,
        "wires": []
    },
    {
        "id": "950cba8b.112ef8",
        "type": "link in",
        "z": "f9337f21.0eab78",
        "name": "Bulb CT Update",
        "links": [
            "33ed496c.3b1f1e",
            "a197e4e7.48a7c"
        ],
        "x": 95,
        "y": 600,
        "wires": [
            [
                "10420ba7.156514"
            ]
        ]
    },
    {
        "id": "21b8a5fd.7a31d2",
        "type": "split",
        "z": "f9337f21.0eab78",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 375,
        "y": 400,
        "wires": [
            [
                "92c6b1ca8efcd47e"
            ]
        ],
        "l": false
    },
    {
        "id": "7bc998fc.ab71a",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "CT Bulb?",
        "property": "payload.capabilities",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ColorTemperature",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 760,
        "y": 400,
        "wires": [
            [
                "37a242c8.10feb6"
            ]
        ]
    },
    {
        "id": "37a242c8.10feb6",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "On?",
        "property": "payload.attributes.switch",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 400,
        "wires": [
            [
                "65f9e584.babbf4"
            ]
        ]
    },
    {
        "id": "a197e4e7.48a7c",
        "type": "link out",
        "z": "f9337f21.0eab78",
        "name": "",
        "links": [
            "950cba8b.112ef8"
        ],
        "x": 1475,
        "y": 400,
        "wires": []
    },
    {
        "id": "dc311cbd.e678c8",
        "type": "link in",
        "z": "f9337f21.0eab78",
        "name": "Update All Bulbs CT",
        "links": [
            "b0c8d31a.f0e56"
        ],
        "x": 95,
        "y": 400,
        "wires": [
            [
                "908997a7979b19f7"
            ]
        ]
    },
    {
        "id": "6c75f0cf.aaaf68",
        "type": "comment",
        "z": "f9337f21.0eab78",
        "name": "When the CT target is updated, pull and update all active bulbs",
        "info": "",
        "x": 310,
        "y": 340,
        "wires": []
    },
    {
        "id": "eef4c6a1.ea14a",
        "type": "comment",
        "z": "f9337f21.0eab78",
        "name": "Update a single bulb",
        "info": "",
        "x": 170,
        "y": 540,
        "wires": []
    },
    {
        "id": "145e840c.2ed744",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1330,
        "y": 400,
        "wires": [
            [
                "a197e4e7.48a7c"
            ]
        ]
    },
    {
        "id": "d820eb75.8fe88",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Set Device ID",
        "rules": [
            {
                "t": "set",
                "p": "deviceId",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1215,
        "y": 400,
        "wires": [
            [
                "145e840c.2ed744"
            ]
        ],
        "l": false
    },
    {
        "id": "65f9e584.babbf4",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "CT is Wrong?",
        "property": "payload.attributes.colorTemperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "$flowContext(\"color_temperature\")-25",
                "vt": "jsonata",
                "v2": "$flowContext(\"color_temperature\")+25",
                "v2t": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1080,
        "y": 400,
        "wires": [
            [],
            [
                "d820eb75.8fe88"
            ]
        ]
    },
    {
        "id": "356625e7.df9b9a",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.value",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 1640,
        "wires": [
            [
                "3680fde5.c22a4a"
            ]
        ]
    },
    {
        "id": "9a4d93e3.9f5c3",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1830,
        "y": 3100,
        "wires": [
            [
                "2036fdbe.acda92"
            ]
        ]
    },
    {
        "id": "91e8ca3f.3f295",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1830,
        "y": 3060,
        "wires": [
            [
                "93983053.42cca8"
            ]
        ]
    },
    {
        "id": "a0f2d6e.daab828",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "deviceLabel": "Leah’s Bedside",
        "name": "",
        "server": "252d4ef4.c14b6a",
        "deviceId": "1",
        "command": "",
        "commandArgs": "",
        "x": 2100,
        "y": 3060,
        "wires": [
            []
        ]
    },
    {
        "id": "407e2a78.c9971c",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "deviceLabel": "Rob’s bedside",
        "name": "",
        "server": "252d4ef4.c14b6a",
        "deviceId": "2",
        "command": "",
        "commandArgs": "",
        "x": 2100,
        "y": 3100,
        "wires": [
            []
        ]
    },
    {
        "id": "93983053.42cca8",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1935,
        "y": 3060,
        "wires": [
            [
                "a0f2d6e.daab828",
                "407e2a78.c9971c"
            ]
        ],
        "l": false
    },
    {
        "id": "2036fdbe.acda92",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1935,
        "y": 3100,
        "wires": [
            [
                "407e2a78.c9971c",
                "a0f2d6e.daab828"
            ]
        ],
        "l": false
    },
    {
        "id": "f3be4df3.08e528",
        "type": "lutron-status",
        "z": "f9337f21.0eab78",
        "confignode": "f2d9c01d.62cb2",
        "name": "R Pico",
        "x": 890,
        "y": 2840,
        "wires": [
            [
                "56178c721891bd45"
            ]
        ]
    },
    {
        "id": "3a326fc0.24f35",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "deviceLabel": "",
        "name": "Christmas Tree On",
        "server": "252d4ef4.c14b6a",
        "deviceId": "97",
        "command": "on",
        "commandArgs": "",
        "x": 570,
        "y": 2940,
        "wires": [
            []
        ]
    },
    {
        "id": "84f932994c4d9b0e",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Button 1",
        "rules": [
            {
                "t": "set",
                "p": "payload.button",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 3000,
        "wires": [
            [
                "a210b273a66c0675"
            ]
        ]
    },
    {
        "id": "56178c721891bd45",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "action",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 870,
        "y": 3060,
        "wires": [
            [
                "84f932994c4d9b0e"
            ],
            [
                "7a7baa4b0d8d96f6"
            ],
            [
                "60d657c7179d9acd"
            ],
            [
                "91c8d55d2179c186"
            ],
            [
                "584965c3a3a872dc"
            ]
        ]
    },
    {
        "id": "16910248bf6af96e",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "param",
        "property": "payload.param",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1270,
        "y": 3060,
        "wires": [
            [
                "a788d89aee1e0f93"
            ],
            [
                "aec8779c5e9b3213"
            ],
            []
        ]
    },
    {
        "id": "aec8779c5e9b3213",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Released",
        "rules": [
            {
                "t": "set",
                "p": "payload.interaction",
                "pt": "msg",
                "to": "released",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 3120,
        "wires": [
            [
                "b2f59f4fef3d8b86"
            ]
        ]
    },
    {
        "id": "a788d89aee1e0f93",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Pressed",
        "rules": [
            {
                "t": "set",
                "p": "payload.interaction",
                "pt": "msg",
                "to": "pressed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 3040,
        "wires": [
            []
        ]
    },
    {
        "id": "7a7baa4b0d8d96f6",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Button 2",
        "rules": [
            {
                "t": "set",
                "p": "payload.button",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 3040,
        "wires": [
            [
                "a210b273a66c0675"
            ]
        ]
    },
    {
        "id": "a210b273a66c0675",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1175,
        "y": 3060,
        "wires": [
            [
                "16910248bf6af96e"
            ]
        ],
        "l": false
    },
    {
        "id": "60d657c7179d9acd",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Button 3",
        "rules": [
            {
                "t": "set",
                "p": "payload.button",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 3080,
        "wires": [
            [
                "a210b273a66c0675"
            ]
        ]
    },
    {
        "id": "91c8d55d2179c186",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Button 4",
        "rules": [
            {
                "t": "set",
                "p": "payload.button",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 3120,
        "wires": [
            [
                "a210b273a66c0675"
            ]
        ]
    },
    {
        "id": "584965c3a3a872dc",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Other btn ",
        "rules": [
            {
                "t": "set",
                "p": "payload.button",
                "pt": "msg",
                "to": "payload.action",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 3160,
        "wires": [
            [
                "a210b273a66c0675"
            ]
        ]
    },
    {
        "id": "b2f59f4fef3d8b86",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "button 1/4",
        "property": "payload.button",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1650,
        "y": 3080,
        "wires": [
            [
                "91e8ca3f.3f295"
            ],
            [
                "9a4d93e3.9f5c3"
            ]
        ]
    },
    {
        "id": "ba0630734df9353f",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "deviceLabel": "Porch Bulb",
        "name": "",
        "server": "252d4ef4.c14b6a",
        "deviceId": "66",
        "command": "",
        "commandArgs": "",
        "x": 690,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "2c07bcd4127d212c",
        "type": "inject",
        "z": "f9337f21.0eab78",
        "name": "Every 15 minutes",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 2240,
        "wires": [
            [
                "ed59489e0b1aba05"
            ]
        ]
    },
    {
        "id": "89753df20ca7d578",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 575,
        "y": 2360,
        "wires": [
            [
                "ba0630734df9353f"
            ]
        ],
        "l": false
    },
    {
        "id": "ee0bd27a6442d9c0",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "is_red := false",
        "rules": [
            {
                "t": "set",
                "p": "is_red",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 2220,
        "wires": [
            [
                "42ed4e7930637962"
            ]
        ]
    },
    {
        "id": "c63d476daa70e7fc",
        "type": "switch",
        "z": "f9337f21.0eab78",
        "name": "is_red?",
        "property": "is_red",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 2240,
        "wires": [
            [
                "ee0bd27a6442d9c0"
            ],
            [
                "1657120c75a44639"
            ]
        ]
    },
    {
        "id": "1657120c75a44639",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "is_red := true",
        "rules": [
            {
                "t": "set",
                "p": "is_red",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 2260,
        "wires": [
            [
                "4505442f74bfd3ab"
            ]
        ]
    },
    {
        "id": "42ed4e7930637962",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Make Green",
        "rules": [
            {
                "t": "set",
                "p": "arguments",
                "pt": "msg",
                "to": "{\"hue\": 31, \"saturation\": 55, \"level\": 100}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "arguments",
                "pt": "msg",
                "to": "$string(msg.arguments)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 2220,
        "wires": [
            [
                "338150d80eb38946"
            ]
        ]
    },
    {
        "id": "4505442f74bfd3ab",
        "type": "change",
        "z": "f9337f21.0eab78",
        "name": "Make Red",
        "rules": [
            {
                "t": "set",
                "p": "arguments",
                "pt": "msg",
                "to": "{\"hue\": 1, \"saturation\": 64, \"level\": 100}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "arguments",
                "pt": "msg",
                "to": "$string(msg.arguments)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 2260,
        "wires": [
            [
                "338150d80eb38946"
            ]
        ]
    },
    {
        "id": "338150d80eb38946",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1115,
        "y": 2240,
        "wires": [
            [
                "4abace46d88d5d82"
            ]
        ],
        "l": false
    },
    {
        "id": "4abace46d88d5d82",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "deviceLabel": "Porch Bulb",
        "name": "",
        "server": "252d4ef4.c14b6a",
        "deviceId": "66",
        "command": "setColor",
        "commandArgs": "",
        "x": 1230,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "7bbc68f86666af49",
        "type": "inject",
        "z": "f9337f21.0eab78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 895,
        "y": 2160,
        "wires": [
            [
                "42ed4e7930637962"
            ]
        ],
        "l": false
    },
    {
        "id": "23abbe03a5af6625",
        "type": "inject",
        "z": "f9337f21.0eab78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 895,
        "y": 2320,
        "wires": [
            [
                "4505442f74bfd3ab"
            ]
        ],
        "l": false
    },
    {
        "id": "ed59489e0b1aba05",
        "type": "within-time-switch",
        "z": "f9337f21.0eab78",
        "name": "",
        "positionConfig": "96c207ac.2237a8",
        "startTime": "sunsetEnd",
        "startTimeType": "pdsTime",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "23:00",
        "endTimeType": "entered",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeRestrictions": "",
        "timeRestrictionsType": "none",
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "withinTimeValue": "",
        "withinTimeValueType": "msgInput",
        "outOfTimeValue": "",
        "outOfTimeValueType": "msgInput",
        "tsCompare": "0",
        "x": 390,
        "y": 2240,
        "wires": [
            [
                "c63d476daa70e7fc"
            ],
            []
        ]
    },
    {
        "id": "908997a7979b19f7",
        "type": "hubitat request",
        "z": "f9337f21.0eab78",
        "name": "fetch all devices",
        "server": "252d4ef4.c14b6a",
        "path": "/devices/all",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "21b8a5fd.7a31d2"
            ]
        ]
    },
    {
        "id": "659581e44aa2efdd",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 395,
        "y": 2940,
        "wires": [
            [
                "3a326fc0.24f35",
                "820b94d67933b2ef"
            ]
        ],
        "l": false
    },
    {
        "id": "43841e78d19b1e4f",
        "type": "delay",
        "z": "f9337f21.0eab78",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 395,
        "y": 3000,
        "wires": [
            [
                "363a9c66.018164",
                "734464febd07fa6d"
            ]
        ],
        "l": false
    },
    {
        "id": "734464febd07fa6d",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "deviceLabel": "",
        "name": "Christmas Tree Off",
        "server": "252d4ef4.c14b6a",
        "deviceId": "97",
        "command": "off",
        "commandArgs": "",
        "x": 570,
        "y": 3040,
        "wires": [
            []
        ]
    },
    {
        "id": "820b94d67933b2ef",
        "type": "hubitat command",
        "z": "f9337f21.0eab78",
        "deviceLabel": "",
        "name": "Christmas Tree On",
        "server": "252d4ef4.c14b6a",
        "deviceId": "9",
        "command": "on",
        "commandArgs": "",
        "x": 570,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "92c6b1ca8efcd47e",
        "type": "subflow:4937c23770576172",
        "z": "f9337f21.0eab78",
        "name": "",
        "x": 540,
        "y": 400,
        "wires": [
            [
                "7bc998fc.ab71a"
            ]
        ]
    },
    {
        "id": "70e69fee4d9c2604",
        "type": "subflow:4937c23770576172",
        "z": "f9337f21.0eab78",
        "name": "",
        "x": 800,
        "y": 260,
        "wires": [
            [
                "bccb5224.c91e6"
            ]
        ]
    }
]