flows_Roberts-Mac-mini-2.local.json
[{"id":"f9337f21.0eab78","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"511ba96f.a12658","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"c1c7f362.7de41","type":"subflow","name":"Time Converter","info":"","category":"","in":[{"x":260,"y":480,"wires":[{"id":"ae545d5b.975008"}]}],"out":[{"x":540,"y":480,"wires":[{"id":"ae545d5b.975008","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":540,"y":540,"wires":[{"id":"ae545d5b.975008","port":0}]}},{"id":"3ee5091.589cff6","type":"subflow","name":"Store & Gen Color Msgs","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"29aee99c.dd5c3e"}]}],"out":[{"x":740,"y":80,"wires":[{"id":"e9721d05.5dd87","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"252d4ef4.c14b6a","type":"hubitat config","z":"","name":"Hubitat","usetls":false,"host":"10.0.0.27","port":"80","token":"56716d1b-e436-449b-aef1-c3fb8a7c3548","appId":"501","nodeRedServer":"http://10.0.0.25:1880","webhookPath":"/hubitat/webhook"},{"id":"6bba6383.20c05c","type":"ui_group","z":"","name":"Default","tab":"7629deba.08a778","disp":false,"width":"6","collapse":false},{"id":"f5be1ade.4321f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7629deba.08a778","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f1cd37ed.5808b","type":"ui_group","z":"","name":"Temperature","tab":"7629deba.08a778","disp":true,"width":"6","collapse":false},{"id":"96c207ac.2237a8","type":"position-config","z":"","name":"","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12"},{"id":"a9e57cc4.ae8e78","type":"switch","z":"f9337f21.0eab78","name":"Time of Day","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"sunrise","vt":"flow"},{"t":"lt","v":"8.75","vt":"num"},{"t":"lt","v":"16.75","vt":"str"},{"t":"lt","v":"sunset","vt":"flow"},{"t":"lt","v":"20.75","vt":"str"},{"t":"lt","v":"22.41","vt":"str"},{"t":"gt","v":"22.41","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":1050,"y":420,"wires":[["b40f3488.69ed48"],["c2ea27f3.939e98"],["7de2be06.6927a8"],["c2ea27f3.939e98"],["e3c3cb84.ef6ab8"],["cae35b58.597ef"],["b40f3488.69ed48"]]},{"id":"c2ea27f3.939e98","type":"change","z":"f9337f21.0eab78","name":"2900","rules":[{"t":"set","p":"payload","pt":"msg","to":"2900","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":460,"wires":[["ed016cf1.a47b78"]]},{"id":"7de2be06.6927a8","type":"change","z":"f9337f21.0eab78","name":"3500","rules":[{"t":"set","p":"payload","pt":"msg","to":"3500","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":500,"wires":[["ed016cf1.a47b78"]]},{"id":"e3c3cb84.ef6ab8","type":"change","z":"f9337f21.0eab78","name":"2600","rules":[{"t":"set","p":"payload","pt":"msg","to":"2600","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":420,"wires":[["ed016cf1.a47b78"]]},{"id":"cae35b58.597ef","type":"change","z":"f9337f21.0eab78","name":"2300","rules":[{"t":"set","p":"payload","pt":"msg","to":"2300","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":380,"wires":[["ed016cf1.a47b78"]]},{"id":"b40f3488.69ed48","type":"change","z":"f9337f21.0eab78","name":"2100","rules":[{"t":"set","p":"payload","pt":"msg","to":"2100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":340,"wires":[["ed016cf1.a47b78"]]},{"id":"40b66d76.695704","type":"hubitat device","z":"f9337f21.0eab78","name":"Bulb 4","server":"252d4ef4.c14b6a","deviceId":"589","attribute":"switch","sendEvent":true,"x":610,"y":760,"wires":[["3b895294.40fc1e"]]},{"id":"f6feeac1.313c","type":"change","z":"f9337f21.0eab78","name":"Set Color Temp","rules":[{"t":"set","p":"arguments","pt":"msg","to":"color_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":820,"wires":[["ae47bc91.90b9e8"]]},{"id":"6254ac96.dbc23c","type":"hubitat device","z":"f9337f21.0eab78","name":"Main Floor Couch Lamp","server":"252d4ef4.c14b6a","deviceId":"537","attribute":"switch","sendEvent":true,"x":670,"y":820,"wires":[["ca3a5b6c.8bcad"]]},{"id":"ca3a5b6c.8bcad","type":"switch","z":"f9337f21.0eab78","name":"is on","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":820,"wires":[["f6feeac1.313c","b7421877.47f01"]]},{"id":"ae47bc91.90b9e8","type":"hubitat command","z":"f9337f21.0eab78","name":"Main Floor Couch Lamp","server":"252d4ef4.c14b6a","deviceId":"537","command":"setColorTemperature","commandArgs":"","x":1340,"y":820,"wires":[[]]},{"id":"16e0e495.643b53","type":"change","z":"f9337f21.0eab78","name":"Set Color Temp","rules":[{"t":"set","p":"arguments","pt":"msg","to":"color_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":880,"wires":[["ee7b994b.3d627"]]},{"id":"d643e945.03fd68","type":"hubitat device","z":"f9337f21.0eab78","name":"Main Floor Chair Lamp","server":"252d4ef4.c14b6a","deviceId":"536","attribute":"switch","sendEvent":true,"x":660,"y":880,"wires":[["6626a7d5.bd4b9"]]},{"id":"6626a7d5.bd4b9","type":"switch","z":"f9337f21.0eab78","name":"is on","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":880,"wires":[["16e0e495.643b53","b7421877.47f01"]]},{"id":"ee7b994b.3d627","type":"hubitat command","z":"f9337f21.0eab78","name":"Main Floor Chair Lamp","server":"252d4ef4.c14b6a","deviceId":"536","command":"setColorTemperature","commandArgs":"","x":1330,"y":880,"wires":[[]]},{"id":"a33161c6.8749e8","type":"change","z":"f9337f21.0eab78","name":"Set Color Temp","rules":[{"t":"set","p":"arguments","pt":"msg","to":"color_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":940,"wires":[["7b708ee2.c9e758"]]},{"id":"48fe7158.3de628","type":"hubitat device","z":"f9337f21.0eab78","name":"Kitchen Table","server":"252d4ef4.c14b6a","deviceId":"538","attribute":"switch","sendEvent":true,"x":640,"y":940,"wires":[["4e3c6812.be32d"]]},{"id":"4e3c6812.be32d","type":"switch","z":"f9337f21.0eab78","name":"is on","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":940,"wires":[["a33161c6.8749e8","b7421877.47f01"]]},{"id":"7b708ee2.c9e758","type":"hubitat command","z":"f9337f21.0eab78","name":"Kitchen Table","server":"252d4ef4.c14b6a","deviceId":"538","command":"setColorTemperature","commandArgs":"","x":1310,"y":940,"wires":[[]]},{"id":"784954e6.b11cdc","type":"change","z":"f9337f21.0eab78","name":"Set Color Temp","rules":[{"t":"set","p":"arguments","pt":"msg","to":"color_temperature","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":760,"wires":[["2ac4b003.a7d4e8","23bb66ea.b0f70a"]]},{"id":"3b895294.40fc1e","type":"switch","z":"f9337f21.0eab78","name":"is on","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":760,"wires":[["784954e6.b11cdc","b7421877.47f01"]]},{"id":"2ac4b003.a7d4e8","type":"hubitat command","z":"f9337f21.0eab78","name":"Bulb 4","server":"252d4ef4.c14b6a","deviceId":"589","command":"setColorTemperature","commandArgs":"","x":1280,"y":760,"wires":[[]]},{"id":"6ace0576.3d508c","type":"subflow:c1c7f362.7de41","z":"f9337f21.0eab78","name":"","env":[],"x":820,"y":420,"wires":[[]]},{"id":"31cc0e24.f3ea6a","type":"change","z":"f9337f21.0eab78","name":"epoch time","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":420,"wires":[["6ace0576.3d508c"]]},{"id":"1ec80815.bffb7","type":"inject","z":"f9337f21.0eab78","name":"Check Sunrise/Sunset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["4d57a354.5430bc","2531b654.0b8fba"]]},{"id":"4d57a354.5430bc","type":"change","z":"f9337f21.0eab78","name":"flow.sunrise","rules":[{"t":"set","p":"payload","pt":"msg","to":"sunrise","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"(.*)","fromt":"re","to":"Sunrise: \\1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[["b58ad5d3.fb8b48"]]},{"id":"2531b654.0b8fba","type":"change","z":"f9337f21.0eab78","name":"flow.sunset","rules":[{"t":"set","p":"payload","pt":"msg","to":"sunset","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":260,"wires":[["dabfed9.52d241"]]},{"id":"49b258f7.c125a","type":"comment","z":"f9337f21.0eab78","name":"Set and maintain the values for sunrise and sunset as flow variables","info":"","x":300,"y":60,"wires":[]},{"id":"78d27aa4.3a922c","type":"change","z":"f9337f21.0eab78","name":"","rules":[{"t":"set","p":"color_temperature","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":380,"wires":[["acfe6604.b0ebd","b0c8d31a.f0e56"]]},{"id":"65b86934.6a3848","type":"sort","z":"3ee5091.589cff6","name":"","order":"ascending","as_num":true,"target":"","targetType":"seq","msgKey":"","msgKeyType":"elem","seqKey":"parts.index","seqKeyType":"msg","x":410,"y":80,"wires":[["e9721d05.5dd87"]]},{"id":"e9721d05.5dd87","type":"delay","z":"3ee5091.589cff6","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":80,"wires":[[]]},{"id":"29aee99c.dd5c3e","type":"function","z":"3ee5091.589cff6","name":"Store and Gen Color/CT Info","func":"pylName = msg.payload.name;\npylValue = (msg.payload.value === undefined?\"\":msg.payload.value);\n\n//node.warn('--------------------start func');\n\nasync function sendCmdMsg(message,cmd,args,parts) {\n    \n    node.warn(\"sending = \" + cmd + \" / \" + args );\n    message.command = cmd;\n    message.arguments = args;\n    message.payload = {};\n    message.parts = parts;\n    node.send(message);\n    node.done();\n}\n\n// \nvarName = \"$parent.\" + msg.topic + \"_attributes\";\nattrs = {};\n\nif(!flow.get(varName)){\n\tattrs = {\n\t\tswitch:{command:\"switch\",arguments:\"\"},\n\t\thue:{command:\"setHue\",arguments:\"\"},\n\t\tsaturation:{command:\"setSaturation\",arguments:\"\"},\n\t\tlevel:{command:\"setLevel\",arguments:\"\"},\n\t\tcolorTemperature:{command:\"setColorTemperature\",arguments:\"\"},\n\t\tcolorMode:{command:\"setColorMode\",arguments:\"\"}\n\t}\n} else  {\n\tattrs = flow.get(varName);\n}\n\n\n// Accumulate necessary commands from events..\nattrs[pylName].arguments = pylValue;\nflow.set(varName,attrs);\n\n//node.warn(attrs)\n\nif (checkAttrs(attrs) ) {\n\tcmds = [];\n\t\n    \n\tif (attrs.switch.arguments == \"on\") {\n\t\t\n\t\tswitch(attrs.colorMode.arguments) {\n\t\t\tcase \"CT\":\n\t\t\t\t//node.warn(\"********************  CT Mode\");\n\t\t\t\tcmds = [ \n\t\t\t\t\t{cmd:attrs.colorTemperature.command,arguments:attrs.colorTemperature.arguments},\n\t\t\t\t\t{cmd:attrs.level.command,arguments:attrs.level.arguments},\n\t\t\t\t\t{cmd:attrs.switch.arguments}\n\t\t\t\t];\n\t\t\t\tbreak;\n\t\t\n\t\t\tcase \"RGB\":\n\t\t\t\t//node.warn(\"********************  RGB Mode\");\n\t\t\t\tcmds = [\n\t\t\t\t\t{cmd:attrs.hue.command,arguments:attrs.hue.arguments},\n\t\t\t\t\t{cmd:attrs.saturation.command,arguments:attrs.saturation.arguments},\n\t\t\t\t\t{cmd:attrs.level.command,arguments:attrs.level.arguments},\n\t\t\t\t\t{cmd:attrs.switch.arguments}\n\t\t\t\t];\n\t\t\t\tbreak;\n\t\t}\n\t}\n\telse {\n\t\t\tcmds = [ \n\t\t\t\t{cmd:attrs.switch.arguments}\n\t\t\t];\n\t}\n    \n    //node.warn(cmds);\n    \n\tcmds.forEach((cmd, index, aCmds) => {\n        parts = { id:msg._msgid, index:index, count:aCmds.length};\n    \tsendCmdMsg(msg,cmd.cmd,cmd.arguments,parts);\n\t});\n\t\n\t\n\t// zap attrs\n\tflow.set(varName,undefined);\n}\n\n//node.warn('--------------------end func');\n\nreturn;\n\n\nfunction checkAttrs(attrs) {\n\t// make sure all attributes are filled for colorMode, if so return true!\n\tdataOkay = false;\n\t//node.warn(attrs.colorMode);\n\t\n\tswitch(attrs.colorMode.arguments) {\n\t\tcase \"CT\":\n\t\t\tdataOkay = ( \n\t\t\t    attrs.colorTemperature.arguments !== \"\" && \n\t\t\t    attrs.level.arguments !== \"\" && \n\t\t\t    attrs.switch.arguments !== \"\" \n\t\t\t);\n\t\t\t//node.warn(\"CT = \" + dataOkay);\n\t\t\tbreak;\n\t\tcase \"RGB\":\n\t\t\tdataOkay = ( \n\t\t\t    attrs.hue.arguments !== \"\" && \n\t\t\t    attrs.saturation.arguments !== \"\" && \n\t\t\t    attrs.level.arguments !== \"\"  && \n\t\t\t    attrs.switch.arguments !== \"\" \n\t\t\t);\n\t\t\t//node.warn(\"RGB = \" + dataOkay);\n\t\t\tbreak;\n\t}\n\n\t//if (dataOkay) node.warn(attrs);\n\t\n\treturn dataOkay;\n}","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["65b86934.6a3848"]]},{"id":"e1e38786.f7807","type":"inject","z":"f9337f21.0eab78","name":"Every 15 minutes","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":360,"wires":[["7a1e014f.2d5688"]]},{"id":"e19e918a.2851d","type":"hubitat mode","z":"f9337f21.0eab78","name":"","server":"252d4ef4.c14b6a","sendEvent":true,"x":110,"y":420,"wires":[["7a1e014f.2d5688"]]},{"id":"7a1e014f.2d5688","type":"delay","z":"f9337f21.0eab78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":420,"wires":[["17a47889.a03a2f","31cc0e24.f3ea6a"]]},{"id":"8ffc333a.c9e7e","type":"inject","z":"f9337f21.0eab78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":700,"wires":[["40b66d76.695704"]]},{"id":"971e2447.ec8f88","type":"inject","z":"f9337f21.0eab78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":500,"wires":[["b40f3488.69ed48"]]},{"id":"b58ad5d3.fb8b48","type":"debug","z":"f9337f21.0eab78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":220,"wires":[]},{"id":"dabfed9.52d241","type":"debug","z":"f9337f21.0eab78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":260,"wires":[]},{"id":"aa0d64a0.a2b408","type":"comment","z":"c1c7f362.7de41","name":"Time Zone Offset","info":"","x":400,"y":360,"wires":[]},{"id":"a0e70412.49cd3","type":"comment","z":"c1c7f362.7de41","name":"ms -> s","info":"","x":370,"y":320,"wires":[]},{"id":"f207fd86.a5521","type":"comment","z":"c1c7f362.7de41","name":"seconds since midnight","info":"","x":420,"y":400,"wires":[]},{"id":"ba6ff9d9.4f1458","type":"comment","z":"c1c7f362.7de41","name":"hours since midnight","info":"","x":410,"y":440,"wires":[]},{"id":"acfe6604.b0ebd","type":"ui_chart","z":"f9337f21.0eab78","name":"","group":"6bba6383.20c05c","order":4,"width":0,"height":0,"label":"Color Temperature (K)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1500","ymax":"","removeOlder":"72","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1940,"y":380,"wires":[[]]},{"id":"8e1ccd1c.423048","type":"hubitat device","z":"511ba96f.a12658","name":"Main floor front door - 3/27","server":"252d4ef4.c14b6a","deviceId":"523","attribute":"temperature","sendEvent":true,"x":580,"y":180,"wires":[["7b1e2cc3.e43bd4"]]},{"id":"9f4c3844.16bad","type":"hubitat device","z":"511ba96f.a12658","name":"Main floor hallway - 3/27","server":"252d4ef4.c14b6a","deviceId":"521","attribute":"temperature","sendEvent":true,"x":570,"y":240,"wires":[["7b1e2cc3.e43bd4"]]},{"id":"8e8ef821.9d309","type":"hubitat device","z":"511ba96f.a12658","name":"Main floor hallway shelf by stairs - 3/27","server":"252d4ef4.c14b6a","deviceId":"522","attribute":"temperature","sendEvent":true,"x":620,"y":300,"wires":[["7b1e2cc3.e43bd4"]]},{"id":"f31e698a.7b2ef8","type":"hubitat device","z":"511ba96f.a12658","name":"Main Floor Kitchen Island - Kitchen 3/29","server":"252d4ef4.c14b6a","deviceId":"530","attribute":"temperature","sendEvent":true,"x":620,"y":360,"wires":[["7b1e2cc3.e43bd4"]]},{"id":"72f9eb20.131fdc","type":"hubitat device","z":"511ba96f.a12658","name":"Main Floor Kitchen Island - Living Room - 3/29","server":"252d4ef4.c14b6a","deviceId":"529","attribute":"temperature","sendEvent":true,"x":640,"y":420,"wires":[["7b1e2cc3.e43bd4"]]},{"id":"2c6edddf.80305a","type":"ui_chart","z":"511ba96f.a12658","name":"","group":"f1cd37ed.5808b","order":5,"width":0,"height":0,"label":"Main Floor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":300,"wires":[[]]},{"id":"bf1bb877.671918","type":"inject","z":"511ba96f.a12658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":300,"wires":[["8e1ccd1c.423048","9f4c3844.16bad","8e8ef821.9d309","f31e698a.7b2ef8","72f9eb20.131fdc"]]},{"id":"7b1e2cc3.e43bd4","type":"change","z":"511ba96f.a12658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":300,"wires":[["2c6edddf.80305a"]]},{"id":"ad8191f8.a11098","type":"hubitat device","z":"511ba96f.a12658","name":"Basement Under Screen - 4/1","server":"252d4ef4.c14b6a","deviceId":"534","attribute":"temperature","sendEvent":true,"x":610,"y":620,"wires":[["2583432e.abcc84"]]},{"id":"1c8cf4fe.9ff3cb","type":"hubitat device","z":"511ba96f.a12658","name":"Basement Bottom of Stairs - 4/1","server":"252d4ef4.c14b6a","deviceId":"535","attribute":"temperature","sendEvent":true,"x":610,"y":680,"wires":[["2583432e.abcc84"]]},{"id":"c10bb58.4d8ecc8","type":"ui_chart","z":"511ba96f.a12658","name":"","group":"f1cd37ed.5808b","order":5,"width":0,"height":0,"label":"Basement","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":680,"wires":[[]]},{"id":"1dc9e443.2f6bcc","type":"inject","z":"511ba96f.a12658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":680,"wires":[["ad8191f8.a11098","1c8cf4fe.9ff3cb","9462833e.1d1b7"]]},{"id":"2583432e.abcc84","type":"change","z":"511ba96f.a12658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":680,"wires":[["c10bb58.4d8ecc8"]]},{"id":"853285aa.f5388","type":"sun-position","z":"f9337f21.0eab78","name":"","positionConfig":"96c207ac.2237a8","rules":[],"onlyOnChange":"true","topic":"","outputs":1,"start":"","startType":"none","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"end":"","endType":"none","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"x":310,"y":140,"wires":[["dac47a0d.d60a68"]]},{"id":"5e4622b4.e2e95c","type":"inject","z":"f9337f21.0eab78","name":"","topic":"","payload":"","payloadType":"date","repeat":"43200","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":140,"wires":[["853285aa.f5388"]]},{"id":"ac71927b.fa6758","type":"split","z":"f9337f21.0eab78","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":615,"y":140,"wires":[["56c5dd4a.320ec4"]],"l":false},{"id":"dac47a0d.d60a68","type":"change","z":"f9337f21.0eab78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.times","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":140,"wires":[["ac71927b.fa6758"]]},{"id":"e931e0ce.a7538","type":"switch","z":"f9337f21.0eab78","name":"","property":"sunEvent","propertyType":"msg","rules":[{"t":"eq","v":"civilDawn","vt":"str"},{"t":"eq","v":"civilDusk","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":140,"wires":[["6b698899.5d3648"],["796b87ee.8b39"]]},{"id":"b65b1912.59c9d","type":"change","z":"f9337f21.0eab78","name":"Flow.Sunrise","rules":[{"t":"set","p":"sunrise","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":120,"wires":[["59dd563d.2918f8"]]},{"id":"d998acc2.8a526","type":"change","z":"f9337f21.0eab78","name":"Flow.Sunset","rules":[{"t":"set","p":"sunset","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":160,"wires":[["e167c454.64ff7"]]},{"id":"59dd563d.2918f8","type":"debug","z":"f9337f21.0eab78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1750,"y":120,"wires":[]},{"id":"e167c454.64ff7","type":"debug","z":"f9337f21.0eab78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1750,"y":160,"wires":[]},{"id":"25f2c78.df25238","type":"change","z":"f9337f21.0eab78","name":"","rules":[{"t":"set","p":"sunEvent","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.ts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":140,"wires":[["762f9188.89412"]]},{"id":"762f9188.89412","type":"subflow:c1c7f362.7de41","z":"f9337f21.0eab78","name":"","env":[],"x":1160,"y":140,"wires":[["e931e0ce.a7538","26d575ff.81ea22"]]},{"id":"26d575ff.81ea22","type":"debug","z":"f9337f21.0eab78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":180,"wires":[]},{"id":"b0c8d31a.f0e56","type":"link out","z":"f9337f21.0eab78","name":"color temperature","links":["ac7411a0.a83e9"],"x":1855,"y":420,"wires":[]},{"id":"ac7411a0.a83e9","type":"link in","z":"f9337f21.0eab78","name":"","links":["b0c8d31a.f0e56"],"x":455,"y":760,"wires":[["40b66d76.695704","6254ac96.dbc23c","d643e945.03fd68","48fe7158.3de628"]]},{"id":"6b698899.5d3648","type":"change","z":"f9337f21.0eab78","name":"+35min","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload + (35/60)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":120,"wires":[["b65b1912.59c9d"]]},{"id":"56c5dd4a.320ec4","type":"switch","z":"f9337f21.0eab78","name":"filter sunrise/set","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"civilDawn","vt":"str"},{"t":"eq","v":"civilDusk","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":140,"wires":[["59593a23.887ad4"],["4e2c73b1.8b278c"]]},{"id":"59593a23.887ad4","type":"rbe","z":"f9337f21.0eab78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.name","x":855,"y":120,"wires":[["25f2c78.df25238"]],"l":false},{"id":"4e2c73b1.8b278c","type":"rbe","z":"f9337f21.0eab78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.name","x":855,"y":160,"wires":[["25f2c78.df25238","bfcc8e58.d32fa"]],"l":false},{"id":"796b87ee.8b39","type":"change","z":"f9337f21.0eab78","name":"- 60min","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":160,"wires":[["d998acc2.8a526"]]},{"id":"bfcc8e58.d32fa","type":"debug","z":"f9337f21.0eab78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":180,"wires":[]},{"id":"b7421877.47f01","type":"link out","z":"f9337f21.0eab78","name":"recalculate color temperature","links":["c5d2e3b6.bd6a4"],"x":1015,"y":700,"wires":[]},{"id":"c5d2e3b6.bd6a4","type":"link in","z":"f9337f21.0eab78","name":"","links":["b7421877.47f01"],"x":75,"y":480,"wires":[["8fa8cca6.3c39b8"]]},{"id":"8fa8cca6.3c39b8","type":"delay","z":"f9337f21.0eab78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":480,"wires":[["7a1e014f.2d5688"]]},{"id":"9462833e.1d1b7","type":"hubitat device","z":"511ba96f.a12658","name":"Basement - Behind the couch - 4/10","server":"252d4ef4.c14b6a","deviceId":"621","attribute":"temperature","sendEvent":true,"x":630,"y":740,"wires":[["2583432e.abcc84"]]},{"id":"ed016cf1.a47b78","type":"delay","z":"f9337f21.0eab78","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1435,"y":420,"wires":[["78d27aa4.3a922c"]],"l":false},{"id":"257f36a6.d3bb6a","type":"inject","z":"f9337f21.0eab78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":540,"wires":[["c2ea27f3.939e98"]]},{"id":"9a110e75.82802","type":"range","z":"f9337f21.0eab78","minin":"0","maxin":"100","minout":"2500","maxout":"5500","action":"clamp","round":true,"property":"payload","name":"percent to kelvin range","x":1160,"y":260,"wires":[["d9a64391.6bc78","78d27aa4.3a922c"]]},{"id":"17a47889.a03a2f","type":"sun-position","z":"f9337f21.0eab78","name":"","positionConfig":"96c207ac.2237a8","rules":[],"onlyOnChange":"true","topic":"","outputs":1,"start":"","startType":"none","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"end":"","endType":"none","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"x":730,"y":320,"wires":[["f183b6f5.423ec"]]},{"id":"f183b6f5.423ec","type":"change","z":"f9337f21.0eab78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.altitudePercent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":260,"wires":[["9a110e75.82802"]]},{"id":"d9a64391.6bc78","type":"debug","z":"f9337f21.0eab78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":260,"wires":[]},{"id":"23bb66ea.b0f70a","type":"debug","z":"f9337f21.0eab78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":700,"wires":[]},{"id":"ae545d5b.975008","type":"change","z":"c1c7f362.7de41","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload / 1000","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload - (3600 * 6)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload % 86400","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload / 3600","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":480,"wires":[[]]},{"id":"341cca5d.7deafe","type":"hubitat device","z":"f9337f21.0eab78","name":"mZone-Main Floor","server":"252d4ef4.c14b6a","deviceId":"528","attribute":"motion","sendEvent":true,"x":90,"y":1240,"wires":[["bc068690.56656"]]},{"id":"f4196dc1.89ccd8","type":"switch","z":"f9337f21.0eab78","name":"active","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"active","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1240,"wires":[["1cd367a1.c73378"],["f5b7b7f4.c342c8"]]},{"id":"3e5c2df.f9db652","type":"change","z":"f9337f21.0eab78","name":"Turn On","rules":[{"t":"set","p":"command","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":1280,"wires":[["7b90c309.66d214"]]},{"id":"2c8106bb.e0c96a","type":"change","z":"f9337f21.0eab78","name":"Turn Off","rules":[{"t":"set","p":"command","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":1340,"wires":[["7b90c309.66d214"]]},{"id":"7b90c309.66d214","type":"delay","z":"f9337f21.0eab78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1595,"y":1320,"wires":[["d56df784.c15a28","6724dcf8.57f25c"]],"l":false},{"id":"8bd51c18.0a3aa","type":"switch","z":"f9337f21.0eab78","name":"is already on","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":1200,"wires":[[],["d32f1d97.1bc99"]]},{"id":"1cd367a1.c73378","type":"hubitat device","z":"f9337f21.0eab78","name":"Main Floor Couch Lamp","server":"252d4ef4.c14b6a","deviceId":"537","attribute":"switch","sendEvent":false,"x":750,"y":1200,"wires":[["8bd51c18.0a3aa"]]},{"id":"5c2386b3.633c78","type":"rbe","z":"f9337f21.0eab78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.value","x":435,"y":1240,"wires":[["f4196dc1.89ccd8"]],"l":false},{"id":"bc068690.56656","type":"within-time-switch","z":"f9337f21.0eab78","name":"(at night)","positionConfig":"96c207ac.2237a8","startTime":"sunsetStart","startTimeType":"pdsTime","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"sunriseEnd","endTimeType":"pdsTime","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","lastMsgOnStartOut":false,"lastMsgOnEndOut":false,"x":280,"y":1240,"wires":[["5c2386b3.633c78"],[]]},{"id":"d32f1d97.1bc99","type":"change","z":"f9337f21.0eab78","name":"","rules":[{"t":"set","p":"main_lights_auto_off","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1200,"wires":[["3e5c2df.f9db652"]]},{"id":"f5b7b7f4.c342c8","type":"switch","z":"f9337f21.0eab78","name":"was turned on by motion","property":"main_lights_auto_off","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":1280,"wires":[["2c8106bb.e0c96a","f8f5da1.fc20a28"],[]]},{"id":"f8f5da1.fc20a28","type":"change","z":"f9337f21.0eab78","name":"","rules":[{"t":"set","p":"main_lights_auto_off","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1260,"wires":[[]]},{"id":"d56df784.c15a28","type":"hubitat command","z":"f9337f21.0eab78","name":"Main Floor Couch Lamp","server":"252d4ef4.c14b6a","deviceId":"537","command":"","commandArgs":"","x":1810,"y":1280,"wires":[[]]},{"id":"6724dcf8.57f25c","type":"hubitat command","z":"f9337f21.0eab78","name":"Main Floor Chair Lamp","server":"252d4ef4.c14b6a","deviceId":"536","command":"","commandArgs":"","x":1800,"y":1360,"wires":[[]]}]